@import './../../../../theme/variables.scss';

.publication-en-cours {
    color: $primaryBlue;
    h4 {
        font-weight: 600;
        margin: 10px 0 0;
    }
    th {
        background: $primaryBlue;
        color: $primaryYellow;
    }
}

.prochain-publication {
    color: #388E3C;
    h4 {
        font-weight: 600;
        margin: 10px 0 0;
    }
    th {
        background: #388E3C;
        color: #000000;
    }
}
.publication-programmee {
    h4 {
        font-weight: 600;
        margin: 10px 0 0;
    }
}

.dropdown-menu {
    padding-top: 7px;
    height: auto;
}
.modal-dialog {
    max-width: 60%;
}

ol.carousel-indicators {
    margin-bottom: -10px;
}
ol.carousel-indicators li {
    border: 1px solid #8a8a8a;
    width: 10px;
    height: 7px;
    border-radius: 50%;
}
ol.carousel-indicators li.active {
    background: $primaryBlue;
}
