<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Gestion du mur publicitaire
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal">
                <img src="./assets/icons/add.svg"> Ajouter
            </span>
        </div>
        <div class="panel-body">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

            <div class="publication-en-cours">
                <h4>Liste des publications en cours</h4>
                <div class=" table-responsive">
                    <table class="col-sm-12 table table-bordered">
                        <thead>
                            <tr>
                                <th>N° d'ordre</th>
                                <th>Date de création</th>
                                <th>Initiateur</th>
                                <th>Emplacement</th>
                                <th>Période d'affichage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pub of activePubs">
                                <td>{{pub._id}}</td>
                                <td>{{pub.createdAt | date : 'dd/MM/yyyy hh:mm'}}</td>
                                <td></td>
                                <td>{{pub.order}}</td>
                                <td>{{pub.startDate | date : 'dd/MM/yyyy hh:mm'}} à {{pub.endDate | date : 'dd/MM/yyyy hh:mm'}}</td>
                                <td class="dropdown">
                                    <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                            Action <img src="./assets/icons/shape.svg">
                                        </span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Voir/Modifier</a>
                                        <a class="dropdown-item">Supprimer</a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="prochain-publication">
                <h4>Liste des 3 prochaines publications</h4>
                <div class=" table-responsive">
                    <table class="col-sm-12 table table-bordered">
                        <thead>
                            <tr>
                                <th>N° d'ordre</th>
                                <th>Date de création</th>
                                <th>Initiateur</th>
                                <th>Emplacement</th>
                                <th>Période d'affichage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let pub of nextPubs; let i = index">
                                <tr *ngIf="i<3">
                                    <td>{{pub._id}}</td>
                                    <td>{{pub.createdAt | date : 'dd/MM/yyyy hh:mm'}}</td>
                                    <td></td>
                                    <td>{{pub.order}}</td>
                                    <td>{{pub.startDate | date : 'dd/MM/yyyy hh:mm'}} à {{pub.endDate | date : 'dd/MM/yyyy hh:mm'}}</td>
                                    <td class="dropdown">
                                        <button class="action" data-toggle="dropdown">
                                            <span class="dropdown">
                                                Action <img src="./assets/icons/shape.svg">
                                            </span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Voir/Modifier</a>
                                            <a class="dropdown-item">Supprimer</a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="publication-programmee">
                <h4>Liste des publications programmées</h4>
                <div class=" table-responsive">
                    <table class="col-sm-12 table table-bordered">
                        <thead>
                            <tr>
                                <th>N° d'ordre</th>
                                <th>Date de création</th>
                                <th>Initiateur</th>
                                <th>Emplacement</th>
                                <th>Période d'affichage</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pub of nextPubs">
                                <td>{{pub._id}}</td>
                                <td>{{pub.createdAt | date : 'dd/MM/yyyy hh:mm'}}</td>
                                <td></td>
                                <td>{{pub.order}}</td>
                                <td>{{pub.startDate | date : 'dd/MM/yyyy hh:mm'}} à {{pub.endDate | date : 'dd/MM/yyyy hh:mm'}}</td>
                                <td class="dropdown">
                                    <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                            Action <img src="./assets/icons/shape.svg">
                                        </span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item">Voir/Modifier</a>
                                        <a class="dropdown-item">Supprimer</a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add-publication></app-add-publication>
    </div>
</div>
