<nav class="navbar navbar-expand-sm navbar-right">

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <span class="nav-link" routerLink="/">
                <img src="./assets/icons/email.svg">
                <span>Courier</span>
            </span>
        </li>
        <li class="nav-item dropdown">
            <span class="nav-link" data-toggle="dropdown">
                <img alt="" [src]="generateUrl(currentUser?.avatar?.sm)" width="30" height="30"
                    *ngIf="currentUser?.avatar && currentUser?.avatar?.sm">
                <img src="./assets/img/default-user.png" alt="" width="30" height="30"
                    *ngIf="!currentUser?.avatar || !currentUser?.avatar?.sm">
                <span>{{currentUser?.firstName}} {{currentUser?.lastName}}</span>
                <img src="./assets/icons/shape.svg" class="shape">
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/">Voir</a>
                    <a class="dropdown-item" routerLink="/admins">Gestion des admins</a>
                    <a class="dropdown-item" routerLink="/users/new-user">Paramètres</a>
                    <a class="dropdown-item" (click)="logout()">Déconnexion</a>
                </div>
            </span>
        </li>
    </ul>

</nav>
