@import '../../../../theme/variables.scss';


.navbar {
    background-color: $primaryColor;
    margin-left: 20%;
    width: 80%;
    height: 59px;
    font-size: 14px;
    color: $secondaryColor;
}

.nav-link img, .nav-link span{
    display: inline-block;
    vertical-align: middle;
}

.nav-link img {
    margin-right: 12px;
}

.nav-link {
    margin-right: 35px;
    cursor: pointer;
}

.nav-link .shape {
    margin-left: 12px;
}

.dropdown-menu {
    height: 200px;
}

@media (max-width: 870px) {
  .navbar {
      display: none;
  }

}