<div class="search-block row">
    <div class="col-sm-8">
        <input class='form-control' placeholder="Rechercher par date, n° de facture, n° utilisateur, genre, ville">
    </div>
    <div class="col-sm-4">
        <select class="form-control" id="">
            <option value="">Nature 1</option>
            <option value="">Nature 2</option>
            <option value="">Actif</option>
            <option value="">Bloqué</option>
            <option value="">Option Tout</option>
        </select>
    </div>
    <div class="col-sm-8">
        <h4>Période</h4>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Du</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
            <div class="col-sm-6">
                <label for="">Au</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block">Rechercher</button>
    </div>
</div>
<div class="table-responsive">

    <table class="col-sm-12 table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th *ngIf="userRole === 'ORGANIZER'">Evénément conserné</th>
            <th *ngIf="userRole === 'ADMIN'">NIE</th>
            <th>Nature ou objet</th>
            <th>N° de compte utilisateur</th>
            <th>N° de la transaction</th>
            <th>Montant de la transaction</th>
            <th *ngIf="userRole === 'ADMIN'">Moyen de payement</th>
            <th *ngIf="userRole === 'ADMIN'">N° de carte visa</th>
            <th>Genre</th>
            <th *ngIf="userRole === 'ORGANIZER'">Ville</th>
            <th>Acion</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>23/04/2020</td>
            <td *ngIf="userRole === 'ORGANIZER'">5</td>
            <td *ngIf="userRole === 'ADMIN'"></td>
            <td></td>
            <td>2765</td>
            <td>12OO</td>
            <td>120000</td>
            <td *ngIf="userRole === 'ADMIN'">Carte Visa</td>
            <td *ngIf="userRole === 'ADMIN'">233987</td>
            <td>Homme</td>
            <td *ngIf="userRole === 'ORGANIZER'">Dakar</td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                              Action <img src="./assets/icons/shape.svg">
                            </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Voir</a>
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Télécharger</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>23/04/2020</td>
            <td *ngIf="userRole === 'ORGANIZER'">5</td>
            <td *ngIf="userRole === 'ADMIN'"></td>
            <td></td>
            <td>2765</td>
            <td>12OO</td>
            <td>120000</td>
            <td *ngIf="userRole === 'ADMIN'">Carte bancaire</td>
            <td *ngIf="userRole === 'ADMIN'">987656</td>
            <td>Homme</td>
            <td *ngIf="userRole === 'ORGANIZER'">Dakar</td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                              Action <img src="./assets/icons/shape.svg">
                            </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Voir</a>
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Télécharger</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>23/04/2020</td>
            <td *ngIf="userRole === 'ORGANIZER'">5</td>
            <td *ngIf="userRole === 'ADMIN'"></td>
            <td></td>
            <td>2765</td>
            <td>12OO</td>
            <td>120000</td>
            <td *ngIf="userRole === 'ADMIN'">Mobile money</td>
            <td *ngIf="userRole === 'ADMIN'">345678</td>
            <td>Homme</td>
            <td *ngIf="userRole === 'ORGANIZER'">Dakar</td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                              Action <img src="./assets/icons/shape.svg">
                            </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Voir</a>
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Télécharger</a>
                </div>
            </td>
        </tr>
        <tr>
            <td>23/04/2020</td>
            <td *ngIf="userRole === 'ORGANIZER'">5</td>
            <td *ngIf="userRole === 'ADMIN'"></td>
            <td></td>
            <td>2765</td>
            <td>12OO</td>
            <td>120000</td>
            <td *ngIf="userRole === 'ADMIN'">Carte Visa</td>
            <td *ngIf="userRole === 'ADMIN'">98749</td>
            <td>Homme</td>
            <td *ngIf="userRole === 'ORGANIZER'">Dakar</td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                              Action <img src="./assets/icons/shape.svg">
                            </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Voir</a>
                    <a class="dropdown-item" routerLink="/finance/invoice" routerLinkActive='active'>Télécharger</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="paging">
    <button class='paging-direction'>
        <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
    </button>
    <button class="page-number selected-page">1</button>
    <button class="page-number">2</button>
    <button class="paging-direction">
        <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
    </button>
</div>
