@import './../../../../../../theme/variables.scss';

.modal-content {
    border-color: $primaryBlue;
}

.modal-header {
    display: inline-block;
    padding: 5px;
    background: $primaryBlue;
    color: #FFFFFF;
    h4 {
        font-weight: 700;
        padding: 5px;
        text-align: center;
        padding: 0;
    }
    h6 {
        text-align: center;
        font-weight: 700;
        color: $primaryYellow;
        margin: 0;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
;
}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-around;
}


.checkbox {
    display: flex
}
.form-check {
    position: relative;
    width: 48px;
    height: 23px;
    font-size: 15px;
    text-align: center;
    margin: 0 3px;
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}

.form-check-inline .form-control:last-child {
    margin-left: 5px;
    margin-bottom: 0;
}

.form-check input {
    position: absolute;
    height: 0px;
    width: 0px;
}

label.checkmark {
    width: 46px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check input:checked + .checkmark {
    background: $primaryBlue;
    color: #ffffff;
}

.form-control {
    height: 32px;
    font-size: 13px;
    border: 1px solid #C4C4C4;
}
.form-control::placeholder {
    color: #C4C4C4;
}

.select {
    display: flex;
}
.select .form-control, select.form-control  {
    color: #C4C4C4;
    padding: 0 7px;
    margin-bottom: 10px;
}
.select .form-control:first-child {
    margin-right: 10px;
}

.table-responsive {
    padding: 0 15px;
}

.form-check-label {
    margin: 0 15px;
}

.form-check-inline {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    text-align: center;
}

textarea {
    width: inherit;
}
.text-muted {
    font-size: 10px;
}
.period {
    display: flex;
    align-items: center;
}
.col-sm-4 {
    display: flex;
    align-items: center;
    p {
        margin: 0 15px;
    }
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        .form-control {
            text-align: center;
            margin: 5px 10px;
        }
    }
}

.image {
    width: 60%;
    height: 150px;
    border: 1px solid;
    margin: 10px auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 40px;
    }
    .form-group {
        position: relative;
        input {
            position: absolute;
            width: 0;
            height: 0;
        }
        label {
            cursor: pointer;
            font-size: 20px;
        }
    }
}

input:invalid.ng-touched {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 51, 0.25);
}
input:invalid:focus ~ .form-text {
    color: red !important;
}

.form-control.date {
    text-align: center;
}
.btn.btn-validate {
    background-color: $primaryBlue;
    color: white;
}
.btn.btn-close {
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}
