<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Ajouter un administrateur
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal">
                <img src="./assets/icons/back.svg"> Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="container">
                <form>
                    <div *ngIf="createResult" class="alert alert-{{createResult.status}}">
                        {{createResult.message}}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control" name="lastName" id="nom"
                                [(ngModel)]="form.lastName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" name="firstName" id="prenom"
                                [(ngModel)]="form.firstName">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" id="email" [(ngModel)]="form.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="form.password">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Rôle</label>
                            <select id="inputState" class="form-control" value="STANDARD"
                                [(ngModel)]="form.internalRole" name="internalRole">
                                <option value="STRATEGIC" selected>Stratégique</option>
                                <option value="FINANCE">Finance</option>
                                <option value="MARKETING">Marketing</option>
                                <option value="STANDARD">Standard</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlFile1">Ajouter une image</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                (change)="onAvatarChange($event)" name="avatar">
                        </div>
                    </div>
                    <div class="button-center">
                        <button class="btn-valider" (click)="submit()">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
