<form [formGroup]="form">
    <div class="form-group row">
        <label class="col-sm-6">L'entrée de votre événement serat-il payante ?</label>
        <div class="col-sm-6">
            <div class="checkbox">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" (change)="onCheckEntree()" type="radio"
                        formControlName="paidEntrance" id="payantOui" value="option1" checked [value]="true">
                    <label for="payantOui" class="checkmark">OUI</label>
                </div>
                <div class="form-check form-check-inline">
                    <input (change)="onCheckEntree()" class="form-check-input" id="payantNon"
                        formControlName="paidEntrance" type="radio" [value]="false">
                    <label for="payantNon" class="checkmark">NON</label>
                </div>
            </div>
        </div>
    </div>
    <ng-container *ngIf="!checked">
        <div class="form-group row">
            <label class="col-sm-6" for="categorie">Combien de catégorie de billets avez-vous ?</label>
            <div class=" col-sm-6">
                <input type="number" class="form-control" id="categorie" (change)="onChangeTickets($event)"
                    formControlName="numberOfTickets" min="1" required>
            </div>
        </div>
        <div class="form-group row" *ngIf="!checked">
            <label for="" class="col-sm-6">Les prix renseignés sont-il avec frais ou sans frais ?</label>
            <div class="col-sm-6">
                <select id="type" class="form-control" formControlName="priceIncludingCharges">
                    <option [value]="true">Avec frais</option>
                    <option [value]="false">Sans frais</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-6">A part le prix qu’est ce qui permet de différencier vos catégories de
                billets</label>
            <div class="col-sm-6">
                <div class="form-check-inline">
                    <div>
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                            [checked]="eventContainsCategoryCriteria('gender')"
                            (change)="onEventCategoriesChange($event)" value="gender">
                        <label class="form-check-label" for="inlineCheckbox1">Le genre</label>
                    </div>
                    <div>
                        <input class="form-check-input" (change)="onEventCategoriesChange($event)" type="checkbox"
                            id="inlineCheckbox2" value="age" [checked]="eventContainsCategoryCriteria('age')">
                        <label class="form-check-label">L'âge</label>
                    </div>
                    <div *ngIf="age">
                        <input type="number" class="form-control" name="ageChoisi"
                            (change)="minimumAgeRequiredChange($event)" placeholder="Veuillez renseigné l'âge maximum"
                            min="18">
                        <small id="emailHelp" class="form-text text-muted">Un ticket sera destiné au moins de
                            {{minimumAgeRequired}} ans
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-6">Dénomination des billets avec prix</label>
            <div class="table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom du billet</th>
                            <th>Critère de catégorie</th>
                            <th>Quantité</th>
                            <th>Prix renseigné</th>
                            <th>Prix affiché</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let ticket of tickets.controls; let i = index">
                            <tr [formGroup]="ticket">
                                <td>
                                    <input type="text" class="form-control" formControlName="name" minlength="2"
                                        required>
                                </td>
                                <td>
                                    <select class="form-control" formControlName="categoryCriteria">
                                        <option [value]="null">Pas de différenciation</option>
                                        <ng-container *ngIf="eventContainsCategoryCriteria('gender')">
                                            <option value="Homme">Homme</option>
                                            <option value="Femme">Femme</option>
                                            <option value="Homme & Femme">Homme & Femme</option>
                                        </ng-container>
                                        <option *ngIf="eventContainsCategoryCriteria('age')"
                                            value="Moins de {{minimumAgeRequired}} ans">Moins de {{minimumAgeRequired}}
                                            ans</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" formControlName="quantity" class="form-control" min="0">
                                </td>
                                <td>
                                    <input type="number" formControlName="price" class="form-control" min="0">
                                </td>
                                <td>
                                    {{ticket.value.price}}
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-container [formGroup]="offerOnTicketsPurchases">
            <div class="form-group row">
                <label class="col-sm-6">Un billet acheté donne t-il droit à un billet offert ?</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" formControlName="purchasedTicketInvolveFreeTicket"
                                type="radio" id="droitOui" (change)="onAllow()" [value]="true">
                            <label for="droitOui" class="checkmark">OUI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" formControlName="purchasedTicketInvolveFreeTicket"
                                class="form-check-input" id="droitNon" (change)="onAllow()" [value]="false">
                            <label for="droitNon" class="checkmark">NON</label>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="hasOfferOnTicketPurchases()">
                <div class="form-group row" [formGroup]="purchasedTickets">
                    <label class="col-sm-6" for="nombreBillet">Nombre de billets achetés</label>
                    <div class="col-sm-6">
                        <div class="select">
                            <input type="number" formControlName="quantity" class="form-control col-md-4"
                                id="nombreBillet" value="1" min="0">
                            <select class="form-control" formControlName="categoryCriteria">
                                <option [value]="null">Pas de différenciation</option>
                                <ng-container *ngFor="let ticket of tickets.value">
                                    <option [value]="ticket.name">{{ticket.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row" [formGroup]="offeredTickets">
                    <label class="col-sm-6" for="nombreBilletOffets">Nombre de billets offerts</label>
                    <div class="col-sm-6">
                        <div class="select">
                            <input type="number" class="form-control col-sm-4" formControlName="quantity"
                                id="nombreBilletOffets" value="1">
                            <select class="form-control" formControlName="categoryCriteria">
                                <option [value]="null">Pas de différenciation</option>
                                <ng-container *ngIf="eventContainsCategoryCriteria('gender')">
                                    <option value="Homme">Homme</option>
                                    <option value="Femme">Femme</option>
                                    <option value="Homme & Femme">Homme & Femme</option>
                                </ng-container>
                                <option *ngIf="eventContainsCategoryCriteria('age')"
                                    value="Moins de {{minimumAgeRequired}} ans">Moins de {{minimumAgeRequired}} ans
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
</form>
