@import './../../../../theme/variables.scss';

.checkbox {
    display: flex
}
.form-check {
    position: relative;
    width: 48px;
    height: 23px;
    font-size: 15px;
    text-align: center;
    margin: 0 3px;
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}

.form-check-inline .form-control:last-child {
    margin-left: 5px;
    margin-bottom: 0;
}

.form-check input {
    position: absolute;
    height: 0px;
    width: 0px;
}

label.checkmark {
    width: 46px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check input:checked + .checkmark {
    background: $primaryBlue;
    color: #ffffff;
}

.form-control {
    height: 25px;
    font-size: 13px;
    border: 1px solid #C4C4C4;
}
.form-control::placeholder {
    color: #C4C4C4;
}

.select {
    display: flex;
}
.select .form-control, select.form-control  {
    color: #C4C4C4;
    padding: 0 7px;
    margin-bottom: 10px;
}
.select .form-control:first-child {
    margin-right: 10px;
}

.table-responsive {
    padding: 0 15px;
}

.form-check-label {
  margin: 0 15px;
}

.form-check-inline {
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  text-align: center;
}

.text-muted {
  font-size: 10px;
}

input:invalid.ng-touched {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 51, 0.25);
}
input:invalid:focus ~ .form-text {
  color: red !important;
}
