<div class="container" [formGroup]="registerForm">
    <img src="./assets/img/logo-with-text.svg" id='logo'>
    <div class="message">
        <span>Pas encore membre ?</span> <a routerLink="/auth/register"> Inscrivez-vous</a>
    </div>
    <div class='form-auth'>
        <div class="form-group" *ngIf="errorMessage">
            <div class="text-danger">{{errorMessage}}</div>
        </div>
        <div class="form-group">
            <input placeholder="Adresse Email" name="email" formControlName="email">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe" type="password" name="password" formControlName="password">
        </div>
        <div class="form-group">
            <div class="help-message"><a routerLink='/auth/login'>J'ai perdu mon mot de passe</a></div>
        </div>
        <div class="form-group">
            <button [disabled]="!registerForm.valid" (click)="signin()">Me connecter</button>
        </div>
    </div>
</div>