<app-template></app-template>
<div class="page-container row">
    <ng-container *ngIf="userRole === 'ADMIN'">
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title">Nombre de PARTICIPANTS</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>0</div>
            <div class="title">Total recettes</div>
        </div>
        <div class="overview-component overview-blue-component ">
            <div class='number'>0</div>
            <div class="title">Total frais</div>
        </div>
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title">Personnes intéressées</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>0</div>
            <div class="title">Nombre Tickets</div>
        </div>
        <div class="overview-component overview-red-component ">
            <div class='number'>0</div>
            <div class="title">Campage lancé</div>
        </div>
        <div class="overview-component overview-marine-component ">
            <div class='number'>0</div>
            <div class="title">Profil pour les Accés</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>0</div>
            <div class="title">Réclamation non traité</div>
        </div>
        <div class="overview-component overview-green-component ">
            <div class='number'>0</div>
            <div class="title">Réservations</div>
        </div>
    </ng-container>
    <div *ngIf="updateResult" class="col-sm-12 alert alert-{{updateResult.status}}">
        {{updateResult.message}}
        <span class="float-right" data-dismiss="alert">Fermer</span>
    </div>
    <div class="panel">
        <div class="panel-title">
            {{event?.name}} [{{event?._id}}]
            <span class="float-right panel-action">
                <img src="./assets/icons/back.svg" class="back">
                <span class='panel-action-text'>Retour</span>
            </span>
            <span class="float-right panel-action" [routerLink]="['/ticketing/'+event?._id]">
                <img src="./assets/icons/business2.svg" class="back">
                <span class='panel-action-text'>Billeterie</span>
            </span>
            <span class="float-right panel-action" routerLink="/event/{{eventId}}/participant">
                <img src="./assets/icons/hands.svg" class="back">
                <span class='panel-action-text'>Participants</span>
            </span>
            <span class="float-right panel-action" routerLink="/event/new-event" *ngIf="userRole === 'ORGANIZER'">
                <img src="./assets/icons/edit-tools.svg" class="back">
                <span class='panel-action-text'>Modifier</span>
            </span>
            <span class="float-right panel-action" (click)="changeState(availableStates.Activated)"
                *ngIf="userRole === 'ORGANIZER' && event && event.state!= availableStates.Activated">
                <img src="./assets/icons/validate.svg" class="back">
                <span class='panel-action-text'>Publier</span>
            </span>
            <span class="float-right panel-action" (click)="changeStatus(availableStatus.Validated)"
                *ngIf="userRole === 'ADMIN' && event && event.status!= availableStatus.Validated && event.status!= availableStatus.Refused">
                <img src="./assets/icons/validate.svg" class="back">
                <span class='panel-action-text'>Valider</span>
            </span>
            <span class="float-right panel-action" (click)="changeStatus(availableStatus.Refused)"
                *ngIf="userRole === 'ADMIN' && event && event.status!= availableStatus.Refused  && event.status!= availableStatus.Validated">
                <img src="./assets/icons/cancel.svg" class="back">
                <span class='panel-action-text'>Refuser</span>
            </span>
            <span class="float-right panel-action" (click)="changeState(availableStates.Desactivated)"
                *ngIf="userRole === 'ORGANIZER' && event && event.state!= availableStates.Desactivated">
                <img src="./assets/icons/cancel.svg" class="back">
                <span class='panel-action-text'>Désactiver</span>
            </span>
            <span class="float-right panel-action" *ngIf="userRole === 'ORGANIZER' && event && event.status!= availableStatus.Validated">
                <img src="./assets/icons/delete-1.svg" class="back">
                <span class='panel-action-text'>Supprimer</span>
            </span>
            <span class="float-right panel-action" *ngIf="userRole === 'ORGANIZER'" (click)="toggleComment()">
                <img src="./assets/icons/mail-white.svg" class="back">
                <span class='panel-action-text'>Commenter</span>
            </span>
        </div>
        <div class="panel-body">
            <div class="baner" [style.background]="'url(' + generateUrl(event?.poster?.lg) + ')'">
                <div class="event-etiquette">{{event?.status}}</div>
            </div>

            <div *ngIf="comments" class="comments">
                <div class="box-content">
                    <div class="userList">
                        <div class="user" (click)="selectItem(i)" [ngClass]="{'active': userSelected === i}"
                            *ngFor="let user of users; let i = index">
                            <div class="avatar">
                                <img src="./assets/icons/pp.svg" alt="">
                            </div>
                            <div class="infos">
                                <p>Ousmane Sakho</p>
                                <div class="note"><i>14 Juillet</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment_header">
                            <h3>Ousmane Sakho</h3>
                            <div class="description">Déveppeur JS fullStack</div>
                        </div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quaerat similique, unde,
                            impedit enim, itaque odio quod nesciunt sit fuga omnis labore ex tenetur fugit incidunt
                            repudiandae. Vitae, aliquam minima.
                        </div>
                        <form>
                            <div class="form-group row">
                                <textarea type="text" class="form-control col-md-12" placeholder="Votre commentaire.."
                                    rows="4"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="event-details" *ngIf="!comments">
                <p>{{event?.catchyPhrase}}</p>
                <p class="event-description">
                    {{event?.description}}
                </p>
                <div class="event-coord">
                    <div class="event-coord-icon">
                        <img src="./assets/icons/clock.svg">
                    </div>
                    <div class="event-coord-info">
                        {{event?.startDate|date:'shortTime'}}
                    </div>
                </div>
                <div class="event-coord">
                    <div class="event-coord-icon">
                        <img src="./assets/icons/calendar.svg">
                    </div>
                    <div class="event-coord-info">
                        {{event?.startDate|date:'shortDate'}} <b class='separator'>-</b>
                        {{event?.endDate|date:'shortDate'}}
                    </div>
                </div>
                <div class="event-coord">
                    <div class="event-coord-icon">
                        <img src="./assets/icons/map-2.svg">
                    </div>
                    <div class="event-coord-info">
                        {{event?.address}}, {{event?.locationAccuracy}}
                    </div>
                </div>
                <div class="organizer">
                    <div class="organizer-avatar">
                        <img src="./assets/img/pp.svg">
                    </div>
                    <div class="organizer-name">{{event?.createdBy?.firstName}} {{event?.createdBy?.lastName}}</div>
                    <button class="organizer-profile">Voir le profil</button>
                </div>
            </div>
        </div>
    </div>
</div>
