@import './../../../theme/variables.scss';

.overview-component {
    width: 208px;
    height: 114px;
    border-radius: 10px;
    width: 19%;
    margin: 0 1% 1% 0;
    padding: 1.6% 1.1% 1.6% 1.1%;
    color: #FFFFFF;
}

.overview-component .number {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}

.overview-component .title {
    font-size: 18px;
    line-height: 21px;
}

.overview-blue-component {
    background: rgba(47, 85, 182, 0.85);
}

.overview-yellow-component {
    background: rgba(252, 172, 18, 0.85);
}

.overview-green-component {
    background: rgba(12, 97, 20, 0.85);
}

.overview-red-component {
    background: rgba(230, 65, 13, 0.85);
}

.overview-gray-component {
    background: #8E8E8E;
}

.overview-marine-component {
    background: #455A64;
}

.panel-title {
    padding-top: 13px;
    height: 40px;
}

.baner {
    width: 100%;
    height: 320px;
}

.event-etiquette {
    width: 121px;
    height: 34px;
    background: #4D4D4D;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
}

.panel-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom: 13px;
}

.event-details {
    padding: 13px;
}

.event-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.event-coord {
    display: inline-block;
    margin-right: 12px;
    margin-top: 47px;
    vertical-align: top;
}

.event-coord-icon {
    width: 173px;
    height: 105px;
    text-align: center;
    padding-top: 25px;
    background-color: $primaryColor;
}

.back {
  margin-top: -4px;
}
.event-coord-info {
    width: 173px;
    height: 29px;
    background: $secondaryColor;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 6px;
}


.event-coord .separator {
    vertical-align: middle;
    font-weight: 900;
    font-size: 24px;
}

.organizer {
    vertical-align: bottom;
    float: right;
    margin-right: 14%;
    margin-top: 6%;
    text-align: center;
}

.organizer-name {
    font-size: 13px;
    line-height: 15px;
    color: $secondaryColor;
    margin-top: 12px;
}

.comments {
    .box-content {
        display: flex;
        padding: 15px 20px;
        height: 500px;
        .userList {
            width: 60%;
            border: 1px solid;
            border-right: none;
            padding: 10px;
            overflow-y: auto;
            .user.active {
                border-left: 4px solid rgba(47, 85, 182, 0.85);
                background-color: rgba(47, 85, 182, 0.25);;
            }
            .user {
                display: flex;
                align-items: center;
                margin: 0 -10px;
                padding: 10px;
                border-bottom: 1px solid;
                .avatar {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin: 0 10px 0 0;
                    img {
                        width: 40px;
                    }
                }
                .infos {
                    display: flex;
                    width: 80%;
                    justify-content: space-between;
                    p {
                        margin: 0;
                        font-weight: 600;
                        font-size: 14px;
                    }
                    .note {
                        font-size: 13px;
                    }
                }
            }
        }
        .comment {
            position: relative;
            border: 1px solid;
            padding: 15px 20px;
            .comment_header {
                margin-bottom: 15px;
                border-bottom: 1px solid;
                h3 {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 700;
                }
                .description {
                    font-size: 14px;
                    color: grey;
                    margin-bottom: 8px;
                }
            }
            form {
                position: absolute;
                bottom: 15px;
                left: 15px;
                right: 15px;
                .row {
                    display: flex;
                    width: 100%;
                    margin: 0;
                    .form-control {
                        border: none;
                        border-top: 2px solid;
                        border-radius: 0;
                    }
                    .btn {
                        background-color: $secondaryColor;
                        color: #FFFFFF;
                        height: fit-content;
                        margin-top: auto;
                    }
                }
            }
        }
    }
}

.organizer-profile {
    width: 113px;
    height: 28px;
    background: $primaryColor;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 80px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: $secondaryColor;
}

@media (max-width: 870px) {
    .overview-component {
        width: 24%;
    }
}

@media (max-width: 650px) {
    .overview-component {
        width: 32%;
    }
}

@media (max-width: 500px) {
    .overview-component {
        width: 47.5%;
    }
    .overview-component {
        padding-top: 2%;
    }
}
