@import './../../../theme/variables.scss';

.modal-content {
    border-color: $primaryBlue;
}

.modal-header {
    background-color: $primaryBlue;
    color: white;
}

.modal-footer {
    border-top: none;
}

.btn-close{
	border: 1px solid $primaryBlue;
	color: $primaryBlue;
}
.btn-validate {
    background: $primaryBlue;
    color: white;
}

.col-form-label {
	text-align: end;
}

.select {
  display: flex;
}
.select .form-control, select.form-control  {
  color: #C4C4C4;
  padding: 0 7px;
  margin-bottom: 10px;
}
.select .form-control:first-child {
  margin-right: 10px;
}

span, .checkbox {
    display: inline-block;
    vertical-align: bottom;
}
