<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création d'un ticket</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group row" *ngIf="resultMessage">
            <div class="alert alert-{{resultMessage.status}} col-sm-12">
                {{resultMessage.message}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Critère de catégorie</label>
            <div class="col-sm-8">
                <div class="select">

                    <div class="col-sm-6">
                        <input type="checkbox" id="gender" [(ngModel)]="useGenderCriteria" class="col-sm-2">
                        <label class="col-sm-10" for="gender">Genre</label>
                    </div>
                    <div class="col-sm-6">
                        <input type="checkbox" id="age" [(ngModel)]="useAgeCriteria" class="col-sm-2">
                        <label for="age" class="col-sm-10">Âge</label>
                        <input type="number" class="form-control" *ngIf="useAgeCriteria" [(ngModel)]="age"
                            placeholder="Agé au maximum de" [value]=0 min="0">
                    </div>

                </div>

            </div>
        </div>
        <form [formGroup]="form">
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Name: </label>
                <div class="col-sm-8">
                    <input type="text" id="name" class="form-control" formControlName="name" />
                </div>
            </div>
            <div class="form-group row">
                <label for="category" class="col-sm-4 col-form-label">Catégorie: </label>
                <div class="col-sm-8">
                    <select class="form-control" id="category" formControlName="categoryCriteria">
                        <option selected [value]=null>Pas de différentiation</option>
                        <ng-container *ngIf="useGenderCriteria">
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                            <option value="Homme & Femme">Homme & Femme</option>
                        </ng-container>
                        <ng-container *ngIf="useAgeCriteria">
                            <option value="Agé au maximum de {{age}} ans">Agé au maximum de {{age}} ans</option>
                        </ng-container>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="quantite" class="col-sm-4 col-form-label">Quantité :</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="quantite" formControlName="quantity" min="0">
                </div>
            </div>
            <div class="form-group row">
                <label for="renseigne" class="col-sm-4 col-form-label">Prix renseigné :</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="renseigne" formControlName="price" min="0">
                </div>
            </div>
            <div class="form-group row">
                <label for="affiche" class="col-sm-4 col-form-label">Prix affiché :</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="affiche" [value]="price" disabled>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-close" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-validate" (click)="submit()">Ajouter</button>
    </div>
</div>
