<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des codes promotionnelles
            <span class="float-right panel-action" routerLink="create">
                <img src="./assets/icons/add.svg"> Créer un Code Promotionnel
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-10">
                    <input class='form-control' placeholder="Rechercher par nom, prénom, DOB, lieu d'habitation">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class=" table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>N° EVENT</th>
                            <th>Nom interne</th>
                            <th>Statut</th>
                            <th>Caractéristique du code</th>
                            <th>Utilisé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let promotionalCode of promotionalCodes">
                            <td>{{promotionalCode.event?._id}}</td>
                            <td>{{promotionalCode.privateName}}</td>
                            <td class='status active-status'></td>
                            <td>{{promotionalCode.impact}}</td>
                            <td>0</td>
                            <td class="dropdown">
                                <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/users/detail">Confirmer</a>
                                    <a class="dropdown-item lock" routerLink="/">Supprimer</a>
                                    <a class="dropdown-item" routerLink="/">Rappeler</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>
