@import "./../../theme/variables.scss";

.panel-body {
  padding: 15px 20px;
}

#carousel {
  margin-bottom: 90px !important;
}

ol.carousel-indicators {
  margin-bottom: -10px;
}
ol.carousel-indicators li {
  border: 1px solid #8a8a8a;
  width: 10px;
  height: 7px;
  border-radius: 50%;
}
ol.carousel-indicators li.active {
  background: $primaryBlue;
}

.content-body {
  height: 300px;
}

.col-md-6 {
  padding: 0;
}

.title_img {
  height: 21px;
  color: #0c2461;
  text-align: end;
  padding-right: 13px;
  margin-top: 3px;
}
.title_img h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 13px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vw;
  border: solid 1px #8a8a8a;
  text-align: center;
}
.img img {
  width: 80px;
}

.box_title_video {
  position: relative;
  width: 153px;
  height: 14px;
  text-align: center;
  text-align: center;
  color: #000000;
  margin-bottom: 22px;
}
.bar {
  position: absolute;
  width: 3px;
  height: 25px;
  left: 7px;
  background: #0c2461;
}
.title_video {
  display: inline-block;
  text-align: center;
}
.title_video h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.form-group {
  margin: 7px 0;
}
.form-control {
  height: 2vw;
  font-size: 12px;
  padding: 5px 7px;
  border: 1px solid #c4c4c4;
}
.textarea {
  height: 4vw;
}
form {
  padding-left: 17px;
}
.button-center {
  text-align: center;
}
.btn-valider {
  background: #0c2461;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 80px;
  color: white;
  font-size: 12px;
  padding: 0.3em 2em;
}
