<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des utilisateurs
        </div>
        <div class="panel-body">

            <div id="carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/img/Rectangle 53.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>

            <div class="content-body">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="title_img">
                                <h6>Insérez une image</h6>
                                <div class="img">
                                    <img src="./../../assets/icons/icon-img.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box_title_video">
                                <div class="bar"></div>
                                <div class="title_video">
                                    <h5>Insérez une vidéo</h5>
                                </div>
                            </div>
                            <form >
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Associer un titre">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control textarea" id="" cols="30" rows="2" placeholder="Entrez une description"></textarea>
                                </div>
                                <div class="button-center">
                                    <button class="btn-valider">Valider</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">

                </div>
            </div>
        </div>
    </div>
</div>
