<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Partager
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
