.container {
    text-align: center;
    align-items: center;
}

#logo {
    height: 340px;
    margin-bottom: 0;
}

a {
    color: #2185C5;
}

.message {
    font-size: 20px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.81px;
    color: rgba(27, 38, 54, 0.79);
}

.help-message {
    font-size: 14px;
    margin-left: 28%;
    letter-spacing: 0.81px;
    color: #2185C5;
    margin-top: 30px;
}
.form-auth {
    align-items: center;
    text-align: center;
    margin-top: 34px;
}
input {
    width: 504px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding-top: 6px;
    padding-left: 25px;
    font-size: 20px;
    line-height: 23px;
    color: #8E8E8E;
}

button {
    width: 222px;
    height: 53px;
    background: #FFC312;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 80px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    color: #0C2461;
    margin-top: 30px;
}

.sub-form-group {
    display: inline-block;
}

.input-error-message {
    width: 504px;
    text-overflow: wrap;
    text-align: left;
}

.form-group .sub-form-group:nth-child(1) {
    margin-right: 12px;
}

button:disabled {
    cursor: not-allowed;
}