<div class="container">
    <img src="./assets/img/logo-with-text.svg" id='logo'>
    <div class="message">
        <span>Déjà inscrit sur Clavem ?</span> <a routerLink="/auth/login"> Connectez-vous</a>
    </div>
    <form class='form-auth' [formGroup]="registerForm">
        <div class="form-group" *ngIf="errorMessage">
            <div class="text-danger">{{errorMessage}}</div>
        </div>
        <div class="form-group">
            <div class='sub-form-group'>
                <div class="text-danger input-error-message" *ngIf="lastName.touched && lastName.invalid">
                    Le nom est requis
                </div>
                <input placeholder="Nom" name="lastName" formControlName="lastName">
            </div>
            <div class='sub-form-group'>
                <div class="text-danger input-error-message" *ngIf="firstName.touched && firstName.invalid">
                    Le prénom est requis
                </div>
                <input placeholder="Prénom" name="firstName" formControlName="firstName">
            </div>

        </div>
        <div class="form-group">
            <div class='sub-form-group'>
                <div class="text-danger input-error-message" *ngIf="phoneNumber.touched && phoneNumber.invalid">
                    Le numéro de téléphone est requis et dois contenir 7 chiffres précédés des 2 chiffres de
                    l'indicateur du réseau. Ex: 785238928
                </div>
                <input placeholder="Numéro Téléphone" name="phoneNumber" formControlName="phoneNumber">
            </div>
            <div class='sub-form-group'>
                <div class="text-danger input-error-message" *ngIf="email.touched && email.invalid">
                    Une adresse email valide est requise
                </div>
                <input placeholder="Adresse Email" name="email" type="email" formControlName="email">
            </div>
        </div>
        <div class="form-group">
            <div class='sub-form-group'>
                <div class="text-danger input-error-message" *ngIf="password.touched && password.invalid">
                    Le mot de passe doit avoir au moins 3 caractères
                </div>
                <input placeholder="Mot de passe" type="password" name="password" formControlName="password">
            </div>
            <div class='sub-form-group'>
                <div class="text-danger input-error-message"
                    *ngIf="confirmPassword.touched && registerForm.hasError('notSamePasswords')">
                    Les mots de passe ne correspondent pas
                </div>
                <input placeholder="Confirmer mot de passe" type="password" name="confirmPassword"
                    formControlName="confirmPassword">
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="!registerForm.valid" (click)="signup()">M'inscrire</button>
        </div>
    </form>
</div>