header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  padding-top: 10px;
  height: 245px;
}

.profil {
  width: 153px;
  text-align: center;
}
.avatar img {
  width: 95px;
}
.details-user {
  width: 70%;

}
.description h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #4D4D4D;
}
.description p {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4D4D4D;
  margin-bottom: 7px;
}

hr {
  border: 0.5px solid #C4C4C4;
}

.events {
  display: flex;
  justify-content: space-between;
}
.event p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8A8A8A;
}
.event h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #0C2461;
}

.content {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 0;
}
.header {
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin-left: 10px;
}
.header h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4D4D4D;
}
.header h5 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #4D4D4D;
}
.body {
  display: flex;
  padding: 0 15px;
}
.info {
  display: flex;
  width: 350px;
  height: 94px;
}
.image img {
  width: 155px;
  height: 100px;
}
.info .description {
  width: 100%;
  padding: 0 11px;
}
.info .description h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-bottom: 3px;
}
.info .description h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #8E8E8E;
  margin-bottom: 3px;
}
.info .description p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  color: #000000;
}

.location img {
  display: inline-block;
}

.description .location p {
  display: inline-block;
  margin-left: 4px;
}
.description .location a {
  color: #FFC312;  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}
