<app-template></app-template>
<div class="page-container row">
  <div class="panel">
    <div class="panel-title">
      Détail
      <span class="float-right panel-action" routerLink="/users">
        <img src="./assets/icons/back.svg">Retour
      </span>
    </div>
    <div class="panel-body">
      <header>
        <div class="profil">
          <div class="avatar">
            <img src="./../../../assets/img/pp.svg" alt="">
          </div>
        </div>
        <div class="details-user">
          <div class="description">
            <h3>Jeylaani Njaay</h3>
            <p>Age: 72</p>
            <p>Tel: 78 180 94 37</p>
            <p>Adresse: HLM Grand Yoff dérière Yacinthe Thiandoum</p>
            <p>Ville: Dakar, Sénégal</p>
          </div>
          <hr>
          <div class="events">
            <div class="event">
              <p>Evénements Intéressés</p>
              <h4>112</h4>
            </div>
            <div class="event">
              <p>Evénements Participés</p>
              <h4>23</h4>
            </div>
            <div class="event">
              <p>Evénements Annulés</p>
              <h4>04</h4>
            </div>
            <div class="event">
              <p>Favories</p>
              <h4>07</h4>
            </div>
            <div class="event">
              <p>Cartes</p>
              <h4>02</h4>
            </div>
          </div>
        </div>
      </header>

      <div class="content">
        <div class="header">
          <h3>Evénements Intéressés</h3>
          <p>Voir plus</p>
        </div>
        <div class="body">
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event1.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event2.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event3.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h3>Evénements Participés</h3>
          <p>Voir plus</p>
        </div>
        <div class="body">
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event1.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event2.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event3.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h3>Evénements Annulés</h3>
          <p>Voir plus</p>
        </div>
        <div class="body">
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event2.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event3.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="header">
          <h3>Evénements Favoris</h3>
          <p>Voir plus</p>
        </div>
        <div class="body">
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event1.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event2.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="image">
              <img src="./../../../assets/img/event3.svg" alt="">
            </div>
            <div class="description">
              <h5>Evénement 1</h5>
              <h4>Sacré coeur 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
              <div class="location">
                <img src="./../../../assets/icons/map.svg" alt="">
                <p><a href="">voir plus</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
