.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

.col-sm-6 {
    text-align: center;
}

h4 {
    margin: 15px 10px 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.btn {
    margin-top: 4px;
}