<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Catégories
            <span *ngIf="userRole === 'ADMIN'" class="float-right panel-action" data-toggle="modal"
                data-target="#exampleModal">
                <img src="./assets/icons/add.svg"> Nouvelle catégorie
            </span>
            <span class="float-right panel-action" routerLink="/event/new-event" *ngIf="userRole === 'ORGANIZER'">
                <img src="./assets/icons/add.svg"> Créer un événement
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block">
                <form class="row" #f="ngForm" (input)="onSearch(f.value)">
                    <div class="col-sm-8">
                        <input class='form-control'
                            placeholder="Rechercher par nom, événement gratuit, payant, refusé, en cours, validé..."
                            name="rechercherPar" ngModel>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-block">Rechercher</button>
                    </div>
                    <div class="col-sm-12">
                        <h4>Période</h4>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="">Du</label>
                                <input type="date" class="form-control date" id="" value="2020-06-19" max="2021-06-20"
                                    min="2020-06-15" name="dateDebut" ngModel>
                            </div>
                            <div class="col-sm-6">
                                <label for="">Au</label>
                                <input type="date" class="form-control date" id="" value="2020-06-19" max="2021-06-20"
                                    min="2020-06-15" name="dateFin" ngModel>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class=" table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Event Gratuit</th>
                            <th>Event Payant</th>
                            <th>En attente</th>
                            <th>Refuser</th>
                            <th>En cours/validité</th>
                            <th>Archivé/passé</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoriesList">
                            <td>{{category.name}}</td>
                            <td>{{category.paidEntrance}}</td>
                            <td>{{category.freeEntrance}}</td>
                            <td>{{category.pending}}</td>
                            <td>{{category.refused}}</td>
                            <td>{{category.validated}}</td>
                            <td>{{category.archived}}</td>
                            <td class="dropdown">
                                <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/category/{{category._id}}"
                                        routerLinkActive='active'>Voir</a>
                                    <a class="dropdown-item" routerLink="/">Modifier</a>
                                    <a class="dropdown-item" routerLink="/">Historique</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-new-category></app-new-category>
    </div>
</div>