<app-template></app-template>
<div class="page-container row">
  <div class="panel">
    <div class="panel-title">
      Liste des organisateurs
      <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Exporter sous excel
            </span>
    </div>
    <div class="panel-body">
      <div class="search-block row">
        <div class="col-sm-8">
          <input class='form-control' [(ngModel)]="searchText"
                 placeholder="Rechercher par nom, prénom, DOB, lieu d'habitation">
        </div>
        <div class="col-sm-4">
          <select class="form-control" id="">
            <option value="">Actif</option>
            <option value="">Bloqué</option>
          </select>
        </div>
        <div class="col-sm-4">
          <h4>Période d'inscription</h4>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Du</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
            <div class="col-sm-6">
              <label for="">Au</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h4>Période de validité</h4>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Du</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
            <div class="col-sm-6">
              <label for="">Au</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <button class="btn btn-block">Rechercher</button>
        </div>
      </div>
      <div class=" table-responsive">

        <table class="col-sm-12 table table-bordered">
          <thead>
          <tr>
            <th>N° Compte</th>
            <th>Date d'inscription</th>
            <th>Nom et Prénom</th>
            <th>Genre</th>
            <th>N° Tél</th>
            <th>Date Naiss</th>
            <th>Ville</th>
            <th>Mail</th>
            <th>Dernière activité</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let organizer of organizers?.records | filter:searchText; let i = index">
            <td>{{organizer._id}}</td>
            <td></td>
            <td>{{organizer.lastName}} {{organizer.firstName}}</td>
            <td></td>
            <td>{{organizer.phoneNumber}}</td>
            <td>{{organizer.birthDate}}</td>
            <td>Almadie</td>
            <td>{{organizer.email}}</td>
            <td></td>
            <td class='status active-status'>Actif</td>
            <td class="dropdown">
              <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="detail">Details</a>
                <a class="dropdown-item lock" *ngIf="organizer.state !== 'CLOSED'" (click)="closeAccount(organizer._id, i)">Bloquer</a>
                <a class="dropdown-item unlock" *ngIf="organizer.state === 'CLOSED'" >Activer</a>
                <a class="dropdown-item" routerLink="/">Historique</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="paging">
        <button class='paging-direction'>
          <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
        </button>
        <button class="page-number {{ organizers?.currentPage === i+1 ? 'selected-page' : '' }}"
                *ngFor="let page of pages; let i = index" (click)="fetchOrgainizers(i+1)">{{i+1}}</button>
        <button class="paging-direction">
          <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
        </button>
      </div>
    </div>
  </div>
</div>
