@import "./../../../theme/variables";
.panel-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 13px;
}

.topbar {
    display: flex;
    margin: 10px 80px;
    justify-content: space-between;
}

.item {
    padding: 4px 8px;
    font-size: 15px;
    line-height: 18px;
    margin: 0 5px;
    color: #C4C4C4;
    cursor: pointer;
    transition: color 0.3s;
}

.item.active {
    color: $primaryBlue;
    font-weight: bold;
    border-bottom: 1px solid $primaryBlue;
}
.item:hover {
    color: $primaryBlue;
}

.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

h4 {
    margin: 15px 10px 0;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4 {
    text-align: center;
    margin-top: auto;
}
.icon-header {
    width: 14px;
    height: 16px;
    margin: 3px 5px 0;
    transform: rotate(-12deg);
}
i {
    font-size: 16px;
    color: $primaryYellow;
    margin: 0 5px;
}

.item {
    img {
        opacity: .4;
    }
}
.item.active img {
    opacity: 1;
}

.facture-user {
    width: 40px;
}
.facture-organizer {
    width: 30px;
    margin-right: 10px;
}
