<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des factures<i>tous les événements</i> <img src="./assets/icons/down-arrow.svg" class="icon-header">
            <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Télécharger
            </span>
        </div>
        <div class="panel-body">
            <div class="topbar">
                <div [ngClass]="{'item': true, 'active': users}" (click)="toggleUsers()">
                    <img src="./assets/icons/paper.svg" alt="" class="facture-user">
                    Factures Utilisateurs
                </div>
                <div [ngClass]="{'item': true, 'active': organizer}" (click)="toggelOrganizer()">
                    <img src="./assets/icons/paper%20(1).svg" alt="" class="facture-organizer">
                    <span *ngIf="userRole === 'ADMIN'">Factures Organisateurs</span>
                    <span *ngIf="userRole === 'ORGANIZER'">Mes Factures</span>
                </div>
            </div>

            <div class="content_body">
                <ng-container *ngIf="users">
                    <app-invoice-users></app-invoice-users>
                </ng-container>
                <ng-container *ngIf="organizer">
                    <app-invoice-organizers></app-invoice-organizers>
                </ng-container>
            </div>
        </div>
    </div>
</div>
