<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des réservations
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-10">
                    <input class='form-control' placeholder="Rechercher par nom, prénom, DOB, lieu d'habitation">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class=" table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Date d'enregistrement</th>
                            <th>Numéro de carte</th>
                            <th>Type d'accès Réserve</th>
                            <th>Montant versé pour la réservation</th>
                            <th>N° Téléphone</th>
                            <th>Mail</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reservation of reservations">
                            <td>{{reservation.createdAt | date : 'dd/MM/yyyy'}}</td>
                            <td>{{reservation.card.number}}</td>
                            <td>{{reservation.ticket.name}}</td>
                            <td>{{reservation.ticket.price}}</td>
                            <td>{{reservation.client.phoneNumber}}</td>
                            <td>{{reservation.client.email}}</td>
                            <td class='status active-status'>Actif</td>
                            <td class="dropdown">
                                <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/users/detail" *ngIf="userRole === 'ORGANIZER'">Confirmer</a>
                                    <a class="dropdown-item lock" routerLink="/" *ngIf="userRole === 'ORGANIZER'">Supprimer</a>
                                    <a class="dropdown-item" routerLink="/">Rappeler</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--<div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>-->
        </div>
    </div>
</div>

