<form [formGroup]="form">
    <ng-container [formGroup]="reservation">
        <div class="form-group row">
            <label class="col-sm-6">Les participants peuvent-ils effectuer des réservations ?</label>
            <div class="col-sm-6">
                <div class="checkbox">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="droitReservation1" checked [value]="true"
                            formControlName="allowed" />
                        <label for="droitReservation1" class="checkmark">OUI</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="droitReservation2" [value]="false"
                            formControlName="allowed" />
                        <label for="droitReservation2" class="checkmark">NON</label>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="reservation.controls.allowed.value === true">
            <div class="form-group row">
                <label class="col-sm-6">Les participants doivent-ils payer à la réservation ?</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="payWhenReservation"
                                id="payerReservation1" [value]="true" />
                            <label for="payerReservation1" class="checkmark">OUI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" formControlName="payWhenReservation"
                                [value]="false" id="payerReservation2" checked />
                            <label for="payerReservation2" class="checkmark">NON</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6">Les frais de réservaton sont-elles remboursables ?</label>
                <div class="col-sm-6">
                    <div class="checkbox">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" formControlName="reservationFeeRefundable"
                                id="fraisRemboursable1" [value]="true" />
                            <label for="fraisRemboursable1" class="checkmark">OUI</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" [value]="false"
                                formControlName="reservationFeeRefundable" id="fraisRemboursable2" checked>
                            <label for="fraisRemboursable2" class="checkmark">NON</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-6">Quel pourcentage doivent-ils payer ?</label>
                <div class="col-sm-6">
                    <div class="form-check-inline">
                        <input type="number" formControlName="percentageToPay" class="form-control" id="pourcentage"
                            min="0" />
                        <label class="label" for="pourcentage">%</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6">Quelle est la date limite pour confirmer les réservations ?</label>
                <div class="col-sm-6">
                    <div class="form-check-inline">
                        <input type="date" formControlName="limiteDateConfirmation" class="form-control" id="date" />
                        <input type="time" class="form-control" formControlName="limiteTimeConfirmation" id="time"
                            value="20:00" />
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</form>
