@import './../../../theme/variables.scss';

.panel-body {
    padding: 20px;
}

h5 {
    font-size: 13px;
}
.col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}
label {
    font-size: 15px;
    margin-bottom: 7px;
}
.form-control {
    font-size: 13px;
    border-radius: inherit;
    border-color: black;
    padding: 5px 7px;
}

p {
    margin-bottom: 3px;
}
.form-check-label {
    margin-bottom: 0;
    font-size: smaller;
}

.choiceSex {
    margin-bottom: 10px;
}

.button-center {
    text-align: center;
    margin: 33px;
}

.btn-valider {
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}
