<app-template></app-template>
<div class="page-container row">
  <div class="panel">
      <div class="panel-title">
          Ajouter un invité
          <span class="float-right panel-action" routerLink="/participant/invitation">
              <img src="./assets/icons/back.svg"> Retour
          </span>
      </div>
      <div class="panel-body">
          <div class="container">
              <form>
                  <div class="col-md-6 offset-3">
                      <div class="form-group">
                          <label for="carte">N° Carte</label>
                          <input type="text" class="form-control" id="carte">
                      </div>
                      <div class="form-group">
                          <label for="prenom">Type de ticket</label>
                          <select id="type" class="form-control">
                              <option value="">Prémium</option>
                              <option value="">Gold</option>
                              <option value="">Basique</option>
                          </select>
                      </div>
                  </div>
                  <div class="button-center">
                      <button class="btn btn-valider" routerLink="/participant/invitation">Valider</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
