<app-template></app-template>
<div class="page-container row">
  <div class="panel">
    <div class="panel-title">
      Liste des commandes
      <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Exporter sous excel
            </span>
    </div>
    <div class="panel-body">
      <div class="search-block row">
        <div class="col-sm-8">
          <input class='form-control' placeholder="Date de commande, n° de commande, n° de compte, ">
        </div>
        <div class="col-sm-4">
          <select class="form-control" id="">
            <option value="">Livrer</option>
            <option value="">En attente</option>
            <option value="">Annuler</option>
          </select>
        </div>
        <div class="col-sm-4">
          <h4>Période d'inscription</h4>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Du</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
            <div class="col-sm-6">
              <label for="">Au</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h4>Période de validité</h4>
          <div class="row">
            <div class="col-sm-6">
              <label for="">Du</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
            <div class="col-sm-6">
              <label for="">Au</label>
              <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                     min="2020-06-15">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-block">Rechercher</button>
        </div>
      </div>
      <div class="table-responsive">

        <table class="col-sm-12 table table-bordered">
          <thead>
          <tr>
            <th>Date de commande</th>
            <th>N° Compte</th>
            <th>N° de commande</th>
            <th>Couleur des cartes</th>
            <th>Lieu de livraison</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>23/04/2020</td>
            <td>12463889</td>
            <td>10121</td>
            <td>Bleu</td>
            <td>Dakar centre</td>
            <td class='status active-status'>Actif</td>
            <td class="dropdown">
              <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/">Details</a>
                <a class="dropdown-item lock" routerLink="/">Bloquer</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>23/04/2020</td>
            <td>12463889</td>
            <td>10121</td>
            <td>Bleu</td>
            <td>Dakar centre</td>
            <td class='status locked-status'>Bloqué</td>
            <td class="dropdown">
              <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/">Details</a>
                <a class="dropdown-item unlock" routerLink="/">Activer</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>23/04/2020</td>
            <td>12463889</td>
            <td>10121</td>
            <td>Bleu</td>
            <td>Dakar centre</td>
            <td class='status active-status'>Actif</td>
            <td class="dropdown">
              <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/">Details</a>
                <a class="dropdown-item unlock" routerLink="/">Activer</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="paging">
        <button class='paging-direction'>
          <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
        </button>
        <button class="page-number selected-page">1</button>
        <button class="page-number">2</button>
        <button class="paging-direction">
          <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
        </button>
      </div>
    </div>
  </div>
</div>
