.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

h4 {
    margin: 15px 10px 0;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4 {
    text-align: center;
    margin-top: auto;
}