<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><i>AJOUTER UNE IMAGES SUR LE MUR PLUBLICITAIRE</i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form">
            <div *ngIf="resultMessage" class="alert alert-{{resultMessage.status}}">{{resultMessage.message}}</div>
            <div class="form-group row">
                <label for="nomCampaign" class="col-sm-3 col-form-label">Titre:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="title" id="nomCampaign">
                </div>
            </div>
            <div class="form-group row">
                <label for="nomExpediteur" class="col-sm-3 col-form-label">Objet:</label>
                <div class="col-sm-9">
                    <input type="text" formControlName="object" class="form-control" id="nomExpediteur">
                </div>
            </div>
            <div class="form-group row">
                <label for="emplacement" class="col-sm-3 col-form-label">Emplacement:</label>
                <div class="col-sm-3">
                    <input type="number" class="form-control" formControlName="order">
                </div>
                <label for="emplacement" class="col-sm-3 col-form-label">Dépendance:</label>
                <div class="col-sm-3">
                    <select name="emplacement" formControlName="dependence" id="emplacement" class="form-control">
                        <option [value]="true">Lié</option>
                        <option [value]="false">Non Lié</option>
                    </select>
                </div>
            </div>
            <div class="form-group row period">
                <label class="col-sm-3 col-form-label">Période d'affichage:</label>
                <div class="col-sm-4">
                    <p>Du</p>
                    <div class="">
                        <input type="date" class="form-control" formControlName="startDate" id="dateDebut"  value="2020-07-08"  required>
                        <input type="time" class="form-control" formControlName="startTime" id="timeDebut" value="2020-07-08"  required>
                    </div>
                </div>
                <div class="col-sm-4 offset-1">
                    <p>Au</p>
                    <div class="">
                        <input type="date" class="form-control" formControlName="endDate" id="dateFin" value="2020-07-08"  required>
                        <input type="time" class="form-control" formControlName="endTime" id="timefin"
                            value="12:00"  required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 col-form-label">Up:</label>
                <input type="checkbox" formControlName="isUp">
            </div>


        </form>
        <div class="image">
            <img src="./../../../../../../assets/icons/icon-img2.svg" alt="">
            <div class="form-group">
                <input type="file" (change)="onPosterChange($event)" class="form-control-file" id="image">
                <label for="image">Insérer une image</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-close" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-validate" (click)="createPub()">Publier</button>
    </div>
</div>
