<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des recettes <i>tous les événements</i> <img src="./assets/icons/down-arrow.svg" class="icon-header">
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <thead class="head">
                    <tr>
                        <th scope="col" colspan="4">Vue d'ensemble</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Billets mise en vente</th>
                        <th scope="row">Billets réservés</th>
                        <th scope="row">Billets vendus</th>
                        <th scope="row">Billets restants</th>
                    </tr>
                    <tr>
                        <td class="bold">1000</td>
                        <td class="bold">50</td>
                        <td class="bold">250</td>
                        <td class="bold">700</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Catégorie de billets</th>
                            <th>Prix unitaire</th>
                            <th>Mise en vente</th>
                            <th>Réservés</th>
                            <th>Vendus</th>
                            <th>Restants</th>
                            <th>Montant encaissé</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Classic</td>
                        <td>1 000 F</td>
                        <td>200</td>
                        <td>10</td>
                        <td>30</td>
                        <td>160</td>
                        <td>30 000</td>
                        <td class="status active-status">En vente</td>
                    </tr>
                    <tr>
                        <td>Classic</td>
                        <td>2 000 F</td>
                        <td>50</td>
                        <td>0</td>
                        <td>50</td>
                        <td>0</td>
                        <td>100 000</td>
                        <td class="status locked-status">Fini</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right mt-4">
                <h3>TOTAL ENCAISSÉ: 130 000 F CFA</h3>
            </div>

        </div>
    </div>
</div>
