@import "./../../../theme/variables";
.icon-header {
    width: 14px;
    height: 16px;
    margin: 3px 5px 0;
    transform: rotate(-12deg);
}
i {
    font-size: 16px;
    color: $primaryYellow;
    margin: 0 5px;
}

.table {
    margin-bottom: 2rem;
}
.bold {
    font-weight: 600;
}
.head {
    background: $primaryYellow;
    color: $primaryBlue;
    font-weight: bold;
    font-size: 20px;
}
