<header>
    <div class="banier">
        <img src="" alt="">
    </div>
    <div class="btn-center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ajouter</button>
    </div>
    <div class="search-block row">
        <div class="col-sm-8">
            <input class='form-control' placeholder="Rechercher par  n° d'ordre, date de création">
        </div>
        <div class="col-sm-4">
            <select class="form-control" id="">
                <option value="">Clavem sn</option>
                <option value="">E1</option>
            </select>
        </div>
        <div class="col-sm-8">
            <h4>Période</h4>
            <div class="row">
                <div class="col-sm-6">
                    <label for="">Du</label>
                    <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                        min="2020-06-15">
                </div>
                <div class="col-sm-6">
                    <label for="">Au</label>
                    <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                        min="2020-06-15">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-block">Rechercher</button>
        </div>
    </div>
</header>
<div class="publication-en-cours">
    <h4>Liste des publications en cours</h4>
    <div class=" table-responsive">
        <table class="col-sm-12 table table-bordered">
            <thead>
                <tr>
                    <th>N° d'ordre</th>
                    <th>Date de création</th>
                    <th>Type de publication</th>
                    <th>Emplacement</th>
                    <th>Période d'affichage</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pub of pubs">
                    <td>{{pub._id}}</td>
                    <td>{{pub.createdAt | date : 'dd/MM/yyyy hh:mm'}}</td>
                    <td></td>
                    <td>{{pub.order}}</td>
                    <td>{{pub.startDate | date : 'dd/MM/yyyy hh:mm'}} à {{pub.endDate | date : 'dd/MM/yyyy hh:mm'}}</td>
                    <td class="dropdown">
                        <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                                Action <img src="./assets/icons/shape.svg">
                            </span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Voir/Modifier</a>
                            <a class="dropdown-item">Supprimer</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add-image-emplacement-up></app-add-image-emplacement-up>
    </div>
</div>
