@import './../../../../../theme/variables.scss';
.search-block {
    margin-top: 25px;
}
.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}
h4 {
    margin: 15px 0 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4, .col-sm-6{
    text-align: center;
    margin-top: auto;
}
.dropdown-menu {
    padding-top: 7px;
    height: auto;
}

.banier {
    width: 60%;
    background: $primaryYellow;
    height: 200px;
    margin: 20px auto 10px;
    img {
        width: 100%;
        height: 200px;
    }
}

.btn-center {
    text-align: center;
    .btn-primary {
        border: 2px solid $primaryBlue;
        color: $primaryYellow;
        background: $primaryBlue;
        border-radius: 100%;
        font-weight: bold;
        padding: 2px 10px;
    }
}
.publication-en-cours {
    color: $primaryBlue;
    h4 {
        text-align: left;
        font-weight: 600;
        margin: 10px 0 0;
    }
    th {
        background: $primaryBlue;
        color: $primaryYellow;
    }
}

.modal-dialog {
    max-width: 60%;
}