@import './../../../theme/variables.scss';

.panel-title {
    color: #FFFFFF;
}

.event-etiquette {
    position: relative;
    top: 0;
    left: 0;
    width: 121px;
    height: 34px;
    background: #4D4D4D;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
}
