<div class="page-container row">
    <div class="panel">
        <div class="panel-title">Activités récentes</div>
        <div class="panel-body">
            <div class="alert alert-info" *ngIf="!events || events.length === 0">
                Aucune activité récente!
            </div>
            <div class="activity" routerLink="/event/{{event._id}}" *ngFor="let event of events">
                <div class="activity-poster" style="background: url('./assets/img/event1.svg');">
                    <div class="event-etiquette">{{event.status}}</div>
                </div>
                <div class="activity-details">
                    <div class='activity-title'>{{event.name}}</div>
                    <div class="activity-address">
                        <img src='./assets/icons/map.svg'>
                        {{event.address}} {{event.locationAccuracy}}
                    </div>
                    <div class="activity-resume">
                        {{event.catchyPhrase}}
                    </div>
                    <div class="activity-more">
                        Voir Plus
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
