<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des réclamations<i>tous les événements</i> <img src="./assets/icons/down-arrow.svg" class="icon-header">
            <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Télécharger
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-8">
                    <input class='form-control' placeholder="Rechercher par date, n° de facture, n° de la réclamation, n° ce compte utlisateur">
                </div>
                <div class="col-sm-4">
                    <select class="form-control">
                        <option value="">Actif</option>
                        <option value="">Bloqué</option>
                        <option value="">Option Tout</option>
                    </select>
                </div>
                <div class="col-sm-8">
                    <h4>Période</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="">Du</label>
                            <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                                   min="2020-06-15">
                        </div>
                        <div class="col-sm-6">
                            <label for="">Au</label>
                            <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                                   min="2020-06-15">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class="table-responsive">

                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>N° de la réclamation</th>
                            <th>N° de la carte conservée</th>
                            <th>N° de la facture</th>
                            <th *ngIf="userRole === 'ORGANIZER'">Evénement conserné</th>
                            <th *ngIf="userRole === 'ADMIN'">N° de compte utilisateur</th>
                            <th>Montant de la facture</th>
                            <th>Montant de réclamation</th>
                            <th *ngIf="userRole === 'ADMIN'">NIE</th>
                            <th>Statut</th>
                            <th *ngIf="userRole === 'ADMIN'">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="userRole === 'ADMIN'"></td>
                            <td class="dropdown" *ngIf="userRole === 'ADMIN'">
                                <button class="action" data-toggle="dropdown">
                                <span class="dropdown">
                                  Action <img src="./assets/icons/shape.svg">
                                </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Voir détails</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Traitée/Non traitée</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Télécharger</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="userRole === 'ADMIN'"></td>
                            <td class="dropdown" *ngIf="userRole === 'ADMIN'">
                                <button class="action" data-toggle="dropdown">
                                <span class="dropdown">
                                  Action <img src="./assets/icons/shape.svg">
                                </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Voir détails</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Traitée/Non traitée</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Télécharger</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="userRole === 'ADMIN'"></td>
                            <td class="dropdown" *ngIf="userRole === 'ADMIN'">
                                <button class="action" data-toggle="dropdown">
                                <span class="dropdown">
                                  Action <img src="./assets/icons/shape.svg">
                                </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Voir détails</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Traitée/Non traitée</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Télécharger</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="userRole === 'ADMIN'"></td>
                            <td class="dropdown" *ngIf="userRole === 'ADMIN'">
                                <button class="action" data-toggle="dropdown">
                                <span class="dropdown">
                                  Action <img src="./assets/icons/shape.svg">
                                </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Voir détails</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Traitée/Non traitée</a>
                                    <a class="dropdown-item" routerLink="/finance/reclamation" routerLinkActive='active'>Télécharger</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>
