<div class="search-block row">
    <div class="col-sm-8">
        <input class='form-control' placeholder="Rechercher par d'activation, n° de carte, n° utilisateur, date de validité">
    </div>
    <div class="col-sm-4">
        <select class="form-control" id="">
            <option value="">Carte VISA</option>
            <option value="">Mobile money</option>
            <option value="">Option Tout</option>
        </select>
    </div>
    <div class="col-sm-8">
        <h4>Période</h4>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Du</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
            <div class="col-sm-6">
                <label for="">Au</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block">Rechercher</button>
    </div>
</div>

<div class=" table-responsive">
    <table class="col-sm-12 table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>NIE</th>
            <th>N° de compte utilisateur</th>
            <th>N° de la carte bénéficiaire</th>
            <th>Type de Commisssion</th>
            <th>% Commission</th>
            <th>Valeur</th>
            <th>Moyen de payement utilisé</th>
            <th>N° MM ou N° carte visa</th>
            <th>Type d'accès</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                            <span class="dropdown">
                              Action <img src="./assets/icons/shape.svg">
                            </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir détails</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                                <span class="dropdown">
                                  Action <img src="./assets/icons/shape.svg">
                                </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir détails</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                              <span class="dropdown">
                                Action <img src="./assets/icons/shape.svg">
                              </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir détails</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                    <span class="dropdown">
                        Action <img src="./assets/icons/shape.svg">
                    </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir détails</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
