@import './../../../../theme/variables.scss';

.search-block {
    margin-top: 25px;
}
.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}
h4 {
    margin: 15px 0 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4, .col-sm-6{
    text-align: center;
    margin-top: auto;
}
.dropdown-menu {
    padding-top: 7px;
    height: auto;
}

span.float-right h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: $primaryYellow;
}
.topbar {
  display: flex;
  margin: 10px 80px;
  justify-content: space-between;
}

.item {
  padding: 4px 8px;
  font-size: 15px;
  line-height: 18px;
  margin: 0 5px;
  color: #C4C4C4;
  cursor: pointer;
  transition: color 0.3s;
}

.item.active {
  color: $primaryBlue;
  font-weight: bold;
  border-bottom: 1px solid $primaryBlue;
}
.item:hover {
  color: $primaryBlue;
}
