<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Gestion du fil d'actualité
            <span class="float-right">
                <h4>Historiques des publications</h4>
            </span>
        </div>
        <div class="panel-body">

            <div class="topbar">
                <div [ngClass]="{'item': true, 'active': emplacementUp}" (click)="toggleEmplacement()">
                    EMPLACEMENT UP
                </div>
                <div [ngClass]="{'item': true, 'active': other}" (click)="toggleOther()">
                    AUTRES
                </div>
            </div>

            <div class="content_body">
                <ng-container *ngIf="emplacementUp">
                    <app-emplacement-up></app-emplacement-up>
                </ng-container>
                <ng-container *ngIf="other">
                    <app-other></app-other>
                </ng-container>
            </div>
        </div>
    </div>
</div>