<app-template></app-template>
<div class="page-container row">
  <div class="panel">
    <div class="panel-title">
      Liste des utilisateurs
      <span class="float-right panel-action">
        <img src="./assets/icons/download.svg"> Exporter sous excel
      </span>
    </div>
    <div class="panel-body">
      <div class="search-block">
        <form class="row" #f="ngForm" (input)="onSearch(f.value)">
          <div class="col-sm-8">
            <input class='form-control'
              placeholder="Rechercher par nom, événement gratuit, payant, refusé, en cours, validé..." name="search"
              ngModel>
          </div>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-block">Rechercher</button>
          </div>
          <div class="col-sm-12">
            <h4>Période</h4>
            <div class="row">
              <div class="col-sm-6">
                <label for="">Du</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2021-06-20" min="2020-06-15"
                  name="dateDebut" ngModel>
              </div>
              <div class="col-sm-6">
                <label for="">Au</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2021-06-20" min="2020-06-15"
                  name="dateFin" ngModel>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class=" table-responsive">
        <table class="col-sm-12 table table-bordered">
          <thead>
            <tr>
              <th>Date d'inscription</th>
              <th>N° Compte</th>
              <th>Nom et Prénom</th>
              <th>Genre</th>
              <th>Date de naissance</th>
              <th>Ville</th>
              <th>N° Tél</th>
              <th>Mail</th>
              <th>Dernière activité</th>
              <th>CA réalisé</th>
              <th>Statut</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let client of clientsList">
              <td></td>
              <td>{{client._id}}</td>
              <td>{{client.firstName}} {{client.lastName}}</td>
              <td></td>
              <td>{{client.birthDate | date: 'dd/MM/yy'}}</td>
              <td>{{client.city}}</td>
              <td>{{client.phoneNumber}}</td>
              <td>{{client.email}}</td>
              <td></td>
              <td></td>
              <td class='status active-status'>Actif</td>
              <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                  <span class="dropdown">
                    Action <img src="./assets/icons/shape.svg">
                  </span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/users/details">Details</a>
                  <a class="dropdown-item lock" routerLink="/">Bloqué</a>
                  <a class="dropdown-item" routerLink="/">Historique</a>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="paging">
        <button class='paging-direction'>
          <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
        </button>
        <button class="page-number selected-page">1</button>
        <button class="page-number">2</button>
        <button class="paging-direction">
          <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
        </button>
      </div>
    </div>
  </div>
</div>