<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Ajouter category</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="color: white;">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group" *ngIf="createCategoryResult">
                <div class="alert alert-{{createCategoryResult.status}}">{{createCategoryResult.message}}</div>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Catégorie:</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="category" name="name" [(ngModel)]="name">
              </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-close" data-dismiss="modal">Fermer</button>
      <button type="button" class="btn btn-validate" (click)="createCategory()">Ajouter</button>
    </div>
</div>
