@import './../../../theme/variables.scss';

.modal-content {
    border-color: $primaryBlue;
}

.modal-header {
    background-color: $primaryBlue;
    color: white;
}

.modal-footer {
    border-top: none;
}

.btn.btn-validate {
    background-color: $primaryBlue;
    color: white;
}
.btn.btn-close {
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}
