@import "./../../../../../theme/variables";
.modal-content {
    border-color: $primaryBlue;
}

.modal-header {
    display: inline-block;
    padding: 5px;
    background: $primaryBlue;
    color: #FFFFFF;
    h4 {
        font-weight: 700;
        padding: 5px;
        text-align: center;
    }
    .close {
        position: absolute;
        top: 10px;
        right: 15px;
    }
;
}

.modal-footer {
    border-top: none;
    display: flex;
    justify-content: space-around;
}

thead {
    tr {
        text-align: center;
    }
}
.checkbox {
    display: flex
}
.form-check {
    position: relative;
    width: 48px;
    height: 23px;
    font-size: 15px;
    text-align: center;
    margin: 0 3px;
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}

.form-check-inline .form-control:last-child {
    margin-left: 5px;
    margin-bottom: 0;
}

.form-check input {
    position: absolute;
    height: 0px;
    width: 0px;
}

label.checkmark {
    width: 46px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check input:checked + .checkmark {
    background: $primaryBlue;
    color: #ffffff;
}

.form-control {
    height: 32px;
    font-size: 13px;
    border: 1px solid #C4C4C4;
}
.form-control::placeholder {
    color: #C4C4C4;
}

.textarea {
    width: 100%;
    font-size: 13px;
    border: 1px solid #C4C4C4;
}
.select {
    display: flex;
}
.select .form-control, select.form-control  {
    padding: 0 7px;
    margin-bottom: 10px;
}
.select .form-control:first-child {
    margin-right: 10px;
}

.table-responsive {
    padding: 0 15px;
}


.form-check-inline {
    display: flex;
    justify-content: space-between;
    span {
        font-weight: bold;
        font-size: 20px;
    }
}

.text-muted {
    font-size: 10px;
}

.tabNumber {
    width: 90px;
}

input:invalid.ng-touched {
    border-color: red;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 51, 0.25);
}
input:invalid:focus ~ .form-text {
    color: red !important;
}

.form-control.date {
    text-align: center;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    justify-content: space-around;
}
.title p {
    font-weight: bold;
    color: #c4c4c4;
    cursor: pointer;
}

.title p.active {
    color: #388E3C;
}

.bubble_indication {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.number {
    display: inline-block;
    color: #c4c4c4;
    width: 30px;
    height: 30px;
    padding: 3px 10px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}
.number.active {
    display: inline;
    background: #388E3C;
    border: 2px solid #388E3C;
    color: #ffffff;
    padding: 5px;
}
.bar {
    display: inline-block;
    width: 160px;
    height: 4px;
    background-color: #C4C4C4;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bar.active {
    border: 1px solid #388E3C;
    background: #388E3C;
}

.pagination {
    margin: 30px;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
}
.cible {
    .header {
        display: flex;
        align-items: center;
        p {
            color: $primaryYellow;
            font-weight: 700;
            font-size: 20px;
            margin: auto 0 0 5px;
        }
        img {
            width: 40px;
        }
    }
    .content {
        margin-top: 20px;
        .progress {
            margin-bottom: 7px;
        }
        p {
            margin: 0;
        }
    }
}
.budjet {
    font-size: 20px;
    align-items: center;
    .header {
        display: flex;
        margin-bottom: 20px;
        img {
            width: 40px;
        }
        p {
            font-weight: 700;
            color: $primaryBlue;
            font-size: 20px;
            margin: auto 0 0 10px;
        }
    }

}

.message {
    margin-bottom: 0;
    color: $primaryYellow
}

.text-center {
    margin-bottom: 1rem;
    p {
        margin-bottom: 0;
    }
}


.description {
    font-size: 13px;
    text-align: center;
}
.type-of-payment {
    margin: 15px 0;
    display: flex;
    width: 100%;
    .icons {
        .selected {
            background: $primaryBlue;
        }
        .visa {
            width: 100px;
            height: 55px;
            padding: 5px 10px;
            margin-bottom: 15px;
            .visa-img {
                background: white;
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
                width: 80px;
                height: 45px;
                padding: 0;
                img {
                    margin: -13px 0 0px -3px;
                    width: 86px;
                    height: 71px;
                }
            }
        }
        .orange-money {
            width: 100px;
            height: 55px;
            padding: 5px 10px;
            margin-bottom: 15px;
            .orange-money-img {
                border-radius: 50%;
                overflow: hidden;
                width: 80px;
                height: 45px;
                background: #ffffff;
                img {
                    width: 86px;
                    height: 71px;
                    margin: -13px 0 0px -3px;
                }
            }
        }
        .free-money {
            width: 100px;
            height: 55px;
            padding: 5px 10px;
            margin-bottom: 15px;
            .free-money-img {
                border-radius: 50%;
                overflow: hidden;
                width: 80px;
                height: 45px;
                background: #ffffff;
                img {
                    width: 86px;
                    height: 71px;
                    margin: -13px 0 0px -3px;
                }
            }
        }
        .expresso {
            width: 100px;
            height: 55px;
            padding: 5px 10px;
            margin-bottom: 15px;
            .expresso-img {
                border-radius: 50%;
                overflow: hidden;
                width: 80px;
                height: 45px;
                background: #ffffff;
                img {
                    width: 86px;
                    height: 71px;
                    margin: -13px 0 0px -3px;
                }
            }
        }
    }
    .infos {
        margin: 0 40px 0 60px;
        display: flex;
        align-items: center;
        width: 100%;
        div {
            width: 100%;
        }
        .selected {
            display: none;
        }
    }
}


.btn-previous {
    border-color: $primaryBlue;
    color: $primaryBlue;
    width: 49%;
    margin-right: 1%;
    box-shadow: none;
    img {
        width: 12px;
        margin-right: 10px;
        margin-top: -3px;
    }
}
.btn-next {
    background-color: $primaryBlue;
    color: white;
    width: 49%;
    margin-left: 1%;
    box-shadow: none;
    img {
        width: 12px;
        margin-left: 10px;
        margin-top: -3px;
    }
}
