<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"><i>Bienvenue dans notre système de messagerie <span
                    *ngIf="image">avec</span><span *ngIf="!image">sans</span> image</i></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <p>Envoyez vos message en utilisant notre base de donnée</p>
            <p>Choisissez le lieu de réception de votre cible</p>
        </div>
        <form #form="ngForm">
            <div class="form-nav">
                <div class="title">
                    <p [ngClass]="{'active': !etape1}" (click)="toggleEtape1()">Données de diffusions</p>
                    <p [ngClass]="{'active': !etape2}" (click)="toggleEtape2()">Choissez vos destinataires</p>
                    <p [ngClass]="{'active': !etape3}" (click)="toggleEtape3()">Vérifiez vos informations</p>
                    <p [ngClass]="{'active': !etape4}" (click)="toggleEtape4()">Payez et valider</p>

                </div>
                <div class="bubble_indication">
                    <div>
                        <div [ngClass]="{'number': true, 'active': !etape1}">
                            <span *ngIf="etape1">1</span>
                            <img src="./assets/icons/validate.svg" *ngIf="!etape1">
                        </div>
                        <div [ngClass]="{'bar': true, 'active': !etape1}"></div>
                        <div [ngClass]="{'number': true, 'active': !etape2}">
                            <span *ngIf="etape2">2</span>
                            <img src="./assets/icons/validate.svg" *ngIf="!etape2">
                        </div>
                        <div [ngClass]="{'bar': true, 'active': !etape2}"></div>
                        <div [ngClass]="{'number': true, 'active': !etape3}">
                            <span *ngIf="etape3">3</span>
                            <img src="./assets/icons/validate.svg" *ngIf="!etape3">
                        </div>
                        <div [ngClass]="{'bar': true, 'active': !etape3}"></div>
                        <div [ngClass]="{'number': true, 'active': !etape4}">
                            <span *ngIf="etape4">4</span>
                            <img src="./assets/icons/validate.svg" *ngIf="!etape4">
                        </div>
                    </div>
                </div>
            </div>

            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }" *ngIf="image">
                <label for="image" class="col-sm-4 col-form-label">Choisissez une image :</label>
                <div class="col-sm-8">
                    <input type="file" class="form-control-file" name="image" id="image" ngModel required>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }">
                <label for="titre" class="col-sm-4 col-form-label">Saissez le titre :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="titre" id="titre" ngModel required>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }">
                <label for="nomExpediteur" class="col-sm-4 col-form-label">Expéditeur :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="nomExpediteur" id="nomExpediteur" ngModel required>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }">
                <label for="objet" class="col-sm-4 col-form-label">Objet :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="objet" id="objet" ngModel required>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }">
                <label for="message" class="col-sm-4 col-form-label">Saissez votre message :</label>
                <div class="col-sm-8">
                    <textarea name="message" id="message" class="textarea" rows="3" ngModel required></textarea>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape1 === true }">
                <label for="datePublish" class="col-sm-4 col-form-label">Date de publication :</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="datePublication" id="datePublish" min="2020-02-08"
                        max="2020-12-02" value="2020-07-08" ngModel required>
                </div>
            </div>

            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape2 === true }">
                <label for="styleSMS" class="col-sm-4 col-form-label">Style de SMS :</label>
                <div class="col-sm-4">
                    <select name="styleSMS" id="styleSMS" class="form-control">
                        <option value="">SMS interne</option>
                    </select>
                </div>
            </div>
            <div [ngClass]="{'form-group': true, 'row': true, 'hidden': etape2 === true }">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Age</th>
                                <th>Sexe</th>
                                <th>Région</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check-inline">
                                        <input type="number" class="form-control tabNumber" name="ageDebut"
                                            minlength="2" ngModel required>
                                        <span>à</span>
                                        <input type="number" class="form-control tabNumber" name="ageFin" minlength="2"
                                            ngModel required>
                                    </div>

                                </td>
                                <td>
                                    <div class="form-check-inline">
                                        <div class="">
                                            <input class="form-check-input" type="checkbox" id="sexe1" value="option1">
                                            <label class="form-check-label" for="sexe1">Tous</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="sexe2" value="option2">
                                            <label class="form-check-label" for="sexe2">Homme</label>
                                        </div>
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="sexe3" value="option3">
                                            <label class="form-check-label" for="sexe3">Femme</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <select name="region" id="region" class="form-control">
                                        <option value="dakarStLouis">Dakar, St Louis</option>
                                        <option value="dakarThies">Dakar, Thiès</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info" *ngIf="!etape2">
                <div class="cible">
                    <div class="header">
                        <img src="./assets/icons/person-search.svg" alt="">
                        <p>Taille de la cible</p>
                    </div>
                    <div class="content">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                                style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p>250 000 personnes</p>
                    </div>
                </div>
                <div class="budjet">
                    <div class="header">
                        <img src="./assets/icons/finance-blue.svg" alt="">
                        <p>Budget</p>
                    </div>
                    <div class="content">
                        <h1>1 500 000</h1>
                    </div>
                </div>
            </div>

            <div [ngClass]="{'hidden': etape3 === true}">
                <div class="header text-center">
                    <h1>Campagne CLAVEM/EVENT 1</h1>
                    <h4>Objet: Promotion</h4>
                </div>
                <p>Cher(e) Judith,</p>
                <div>
                    <h1>VOTRE MESSAGE</h1>
                </div>
                <p class="message">Votre message sera diffusé à 250 000 personnes</p>
                <p class="text-muted">
                    Habitants de Dakar et de Saint Louis, âgé entre 18 ans et 49 ans
                </p>
            </div>

            <div [ngClass]="{'hidden': etape4 === true}">
                <p class="description">Le montant à payer est de <b><i>250 000 FCFA</i></b>. Nous vous prions de vous
                    assurer d'avoir ce montatn disponible sur vote compte</p>
                <div class="type-of-payment">
                    <div class="icons">
                        <div [ngClass]="{'visa': true, 'selected': visa}" (click)="visaSelected()">
                            <div class="visa-img">
                                <img src="./../../../assets/img/visa.png" alt="">
                            </div>
                        </div>
                        <div [ngClass]="{'orange-money': true, 'selected': orangeMoney}" (click)="orangeSelected()">
                            <div class="orange-money-img">
                                <img src="./../../../assets/img/orange-money.png" alt="">
                            </div>
                        </div>
                        <div [ngClass]="{'free-money': true, 'selected': freeMoney}" (click)="freeSelected()">
                            <div class="free-money-img">
                                <img src="./../../../assets/img/free-money.png" alt="">
                            </div>
                        </div>
                        <div [ngClass]="{'expresso': true, 'selected': expresso}" (click)="expressoSelected()">
                            <div class="expresso-img">
                                <img src="./../../../assets/img/expresso.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="infos">
                        <div [ngClass]="{'selected': !visa}">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="numberOfCard" id="numberOfCard"
                                        placeholder="Numéro de la carte" ngModel required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="nameOfTheCardHolder"
                                        id="nameOfTheCardHolder" placeholder="Nom du titulaire de la carte" ngModel
                                        required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="date" class="form-control" name="expirationDate" id="expirationDate"
                                        min="2020-02-08" max="2020-12-02" value="2020-07-08" ngModel required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="cvv" id="cvv" placeholder="CVV*"
                                        ngModel required>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="{'selected': !orangeMoney}">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="numeroOrangeMoney"
                                        id="numeroOrangeMoney" placeholder="Numéro orange money" ngModel required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="codeOTP" id="codeOTP"
                                        placeholder="Code OTP*" ngModel required>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="{'selected': !freeMoney}">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="numeroFreeMoney"
                                        id="numeroFreeMoney" placeholder="Numéro free money" ngModel required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="codeOTP" id="codeOTP"
                                        placeholder="Code OTP*" ngModel required>
                                </div>
                            </div>
                        </div>
                        <div [ngClass]="{'selected': !expresso}">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="numeroExpress" id="numeroExpress"
                                        placeholder="Numéro expresso" ngModel required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="number" class="form-control" name="codeOTP" id="codeOTP"
                                        placeholder="Code OTP*" ngModel required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination" *ngIf="etape4">
                <button type="button" class="btn btn-previous" (click)="previous()" *ngIf="etape1"><img
                        src="./assets/icons/shape-left.svg" alt=""> Précédant</button>
                <button type="button" class="btn btn-next" (click)="next()">Suivant <img
                        src="./assets/icons/shape-right.svg" alt=""></button>
            </div>
            <div class="btn-center" *ngIf="!etape4">
                <button type="button" class="btn btn-previous" data-dismiss="modal">Annuler</button>
                <button (click)="onSubmit(form.value)" data-dismiss="modal" class="btn btn-next">Valider</button>
            </div>
        </form>
    </div>
</div>