<app-template></app-template>
<div class="page-container row">
    <ng-container *ngIf="userRole === 'ADMIN'">

        <div class="overview-component overview-green-component">
            <div class='number'>250</div>
            <div class="title">CA TOTAL</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>500</div>
            <div class="title">COMMISSION</div>
        </div>
        <div class="overview-component overview-blue-component ">
            <div class='number'>2M</div>
            <div class="title">CA PUB</div>
        </div>
        <div class="overview-component overview-red-component">
            <div class='number'>250</div>
            <div class="title">CA CARTE COMMANDE</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>500</div>
            <div class="title">Nombre de transaction financière UTILISATEUR</div>
        </div>
        <div class="overview-component overview-marine-component ">
            <div class='number'>2M</div>
            <div class="title">TOTAL SOLDE ORGANISATEUR</div>
        </div>
        <div class="overview-component overview-blue-component ">
            <div class='number'>2M</div>
            <div class="title">AUTRES RECETTES</div>
        </div>
    </ng-container>

    <ng-container *ngIf="userRole === 'ORGANIZER'">

        <div class="overview-component overview-green-component">
            <div class='number'>250</div>
            <div class="title">Nombre de tickets vendus</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>500</div>
            <div class="title">Nombre de tickets restants</div>
        </div>
        <div class="overview-component overview-blue-component ">
            <div class='number'>2M</div>
            <div class="title">Chiffre d'affaire tickets vendus</div>
        </div>
        <div class="overview-component overview-red-component">
            <div class='number'>250</div>
            <div class="title">CA CARTE COMMANDE</div>
        </div>
    </ng-container>

    <div class="panel">
        <div class="panel-title">
            Tableau de bords<i>tous les événements</i> <img src="./assets/icons/down-arrow.svg" class="icon-header">
            <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Télécharger
            </span>
        </div>
        <div class="panel-body">
            <div class="topbar">
                <div [ngClass]="{'item': true, 'active': commission}" (click)="toggleCommission()">
                    Commission
                </div>
                <div [ngClass]="{'item': true, 'active': revenue}" (click)="toggleRevene()">
                    Revenues PUB
                </div>
                <div [ngClass]="{'item': true, 'active': transaction}" (click)="toggleTransaction()">
                    Transactions organisateurs
                </div>
            </div>

            <div class="content_body">
                <ng-container *ngIf="commission">
                    <app-commission></app-commission>
                </ng-container>
                <ng-container *ngIf="revenue">
                    <app-revenue></app-revenue>
                </ng-container>
                <ng-container *ngIf="transaction">
                    <app-transaction></app-transaction>
                </ng-container>
            </div>
        </div>
    </div>
</div>
