@import './../../../theme/variables.scss';

.overview-component {
    width: 205px !important;
    height: 114px;
    border-radius: 10px;
    width: 19%;
    margin: 0 1% 1% 0;
    padding: 1.6% 1.1% 1.6% 1.1%;
    color: #FFFFFF;
}

.overview-component .number {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}

.overview-component .title {
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overview-blue-component {
    background: rgba(47, 85, 182, 0.85);
}

.overview-yellow-component {
    background: rgba(252, 172, 18, 0.85);
}

.overview-green-component {
    background: rgba(12, 97, 20, 0.85);
}

.overview-red-component {
    background: rgba(230, 65, 13, 0.85);
}

.overview-gray-component {
    background: #8E8E8E;
}

.overview-marine-component {
    background: #455A64;
}

.baner {
    background: url('../../../assets/img/event-poster-bar.svg');
    width: 100%;
    height: 163px;
}

.event-etiquette {
    width: 121px;
    height: 34px;
    background: #4D4D4D;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 9px;
}

.panel-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 13px;
}

.topbar {
  display: flex;
  margin: 10px 80px;
  justify-content: space-between;
}

.item {
  padding: 4px 8px;
  font-size: 15px;
  line-height: 18px;
  margin: 0 5px;
  color: #C4C4C4;
  cursor: pointer;
  transition: color 0.3s;
}

.item.active {
  color: $primaryBlue;
  font-weight: bold;
  border-bottom: 1px solid $primaryBlue;
}
.item:hover {
  color: $primaryBlue;
}

.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

h4 {
    margin: 15px 10px 0;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4 {
    text-align: center;
    margin-top: auto;
}


.icon-header {
    width: 14px;
    height: 16px;
    margin: 3px 5px 0;
    transform: rotate(-12deg);
}
i {
    font-size: 16px;
    color: $primaryYellow;
    margin: 0 5px;
}
