<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Ajouter un Client
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal">
                <img src="./assets/icons/back.svg"> Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <h5>Photo de profil</h5>
                    <div class="profil">
                        <div class="profil-img">
                            <img class="pp-img" src="https://via.placeholder.com/200.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
</div>
