
h5 {
    font-size: 14px;
    margin-bottom: .6rem;
}

.profil {
    border: 1px solid black;
    min-height: 160px;
    max-width: 230px;
}
.profil-img {
    padding: 20px;
    text-align: center;

}
.pp-img {
    border-radius: 50%;
    width: 150px;
}
