<app-template></app-template>
<app-ticketing-list></app-ticketing-list>
<!--
  Dois afficher la liste des tickets. Ici la colonne action n'est pas un menu déroulant mais un simple bouton
  supprimer.
  En haut de cette liste, on met le formulaire d'ajout de ticket avec app-ticketing-module comme c'est déja fait.
  On peut aussi mettre le formulaire dans un modal.
-->
