.form-control {
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 5px;
}

.date {
    height: 30px;
    margin-top: 0;
}
label {
    font-size: 12px;
    margin-bottom: 0;
}

.col-sm-2 {
    text-align: center;
}
.btn {
    margin-top: 11px;
}