<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Catégorie 1 ({{events?.length}})
            <span class="float-right panel-action" routerLink="/event/new-event" *ngIf="userRole === 'ORGANIZER'">
                <img src="./assets/icons/add.svg"> Nouvel événement
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-4">
                    <input class='form-control' placeholder="Rechercher par n° carte, n° compte, date validité">
                </div>
                <div class="col-sm-2">
                    <label for="">Du</label>
                    <input type="date" class="form-control date" value="2020-01-10" min="2020-01-01" max="2020-08-20"
                        id="">
                </div>
                <div class="col-sm-2">
                    <label for="">Au</label>
                    <input type="date" class="form-control date" value="2020-04-10" min="2020-01-01" max="2020-08-20"
                        id="">
                </div>
                <div class="col-sm-2">
                    <select class='form-control' placeholder="Statut">
                        <option>Statut</option>
                        <option>Active</option>
                        <option>Bloquée</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>

            <div class="page-items">
                <div class="activity" [routerLink]="['/event/'+event._id]" *ngFor="let event of events">
                    <img [src]="generateUrl(event.poster.sm)" class="activity-poster">
                    <div class="activity-details">
                        <div class='activity-title'>{{event.name}}</div>
                        <div class="activity-address">
                            <img src='./assets/icons/map.svg'>
                            {{event.locationAccuracy}}
                        </div>
                        <div class="activity-resume">
                            {{event.catchyPhrase}}
                        </div>
                        <div class="activity-more">
                            Voir Plus
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
