<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Ajouter un code promotionnel
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal" routerLink="/event">
                <img src="./assets/icons/back.svg"> Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="container">
                <form [formGroup]="form">
                    <div *ngIf="submitResult" class="alert alert-{{submitResult.status}}">{{submitResult.message}}</div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Le code promotionnel est applicable a quel évènement ?</label>
                            <select id="inputState" class="form-control" formControlName="eventId"
                                (change)="onChangeEvent($event)">
                                <option *ngFor="let event of events; let i = index" [value]="event._id"
                                    [selected]="i === 0 ? 'selected' : false">{{event.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Pour quelle categorie de billet le code est -il valable?</label>
                            <div class="form-check" *ngFor="let ticket of selectedEvent?.tickets; let i = index">
                                <input class="form-check-input" formArrayName="tickets" type="checkbox"
                                    id="ticket_{{i}}" [value]="ticket._id" (change)="onChangeTickets($event)">
                                <label class="form-check-label" for="ticket_{{i}}">
                                    {{ticket.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputState">Quel est l'impact du code promotionnel?</label>
                            <select id="inputState" formControlName="impact" class="form-control">
                                <option selected [value]="promotionalCodeImpact.MaskTickets">Masquer les tickets
                                </option>
                                <option [value]="promotionalCodeImpact.ApplyReduction">Appliquer une réduction aux
                                    tickets</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" [formGroup]="reductionEffect">
                            <label for="reduction">Effet de la réduction</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="inPercentage"
                                    id="exampleRadios1" [value]="true" (change)="onChangeReductionMode()" checked>
                                <div class="form-check-inline">
                                    <input type="number" formControlName="reductionInPercentage"
                                        class="form-control number" id="number" (change)="onChangeReductionMode()"
                                        [attr.disabled]="!reductionEffect.value.inPercentage ? '' : null">
                                    <label class="label" for="exampleRadios1">
                                        %
                                    </label>
                                </div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="inPercentage"
                                    id="exampleRadios2" [value]="false" (change)="onChangeReductionMode()">
                                <div class="form-check-inline">
                                    <input type="number" formControlName="reductionInUS" class="form-control number"
                                        (change)="onChangeReductionMode()" id="number"
                                        [attr.disabled]="reductionEffect.value.inPercentage ? '' : null">
                                    <label class="label" for="exampleRadios2">
                                        US$ par billet
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lieu">Quel est le nom du code promotionnel en interne</label>
                            <input type="text" formControlName="privateName" class="form-control" id="lieu">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="nomCode">Quel est le nom du code promotionnel pour le public</label>
                            <input type="text" formControlName="publicName" class="form-control" id="nomCode">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="lieu">Nombre de code généré</label>
                            <input type="number" formControlName="numberOfGeneratedCodes" class="form-control"
                                id="lieu">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="number">chaque code est utilisable combien de fois</label>
                            <input type="number" formControlName="usableNumberOfTimes" class="form-control" id="number">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="date">Periode de validité</label>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="startDate">Date de début :</label>
                                <div class="col-sm-4">
                                    <input type="date" formControlName="startDate" min="2019-01-01" max="2020-12-31"
                                        class="form-control" id="startDate">
                                </div>
                                <label for="endDate" class="col-sm-2 col-form-label date">Date de fin :</label>
                                <div class="col-sm-4 password">
                                    <input type="date" class="form-control" formControlName="endDate" min="2019-01-01"
                                        max="2020-12-31" id="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <button class="btn btn-valider" (click)="submitForm()"
                                [attr.disabled]="!form.valid ? '' : null">Valider</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
