@import './../../../theme/variables.scss';

.panel-body {
    padding: 20px;
}

h5 {
    font-size: 14px;
    margin-bottom: .6rem;
}

.profil {
    border: 1px solid #c4c4c4;
    min-height: 150px;
    max-width: 200px;
    padding: 15px 35px;
}
.profil-img {
    background: #ECEFF1;
    width: fit-content;;
    border-radius: 50%;
    padding: 15px;
}

.pp-img {
    width: 91px;
    height: 100px;
    margin-bottom: -15px;
}

.col-md-6 {
    padding-left: 30px;
    padding-right: 30px;
}
label {
    font-size: 15px;
    margin-bottom: 7px;
}
.form-control {
    font-size: 13px;
    border-radius: inherit;
    border-color: black;
    padding: 5px 7px;
}

p {
    margin-bottom: 3px;
}
.form-check-label {
    margin-bottom: 0;
    font-size: smaller;
}

.choiceSex {
    margin-bottom: 10px;
}

.col-form-label {
    color: #716e6e;
}

.date {
    padding-left: 30px;
}

.button-center {
    text-align: center;
    margin: 33px;
}

.btn-valider {
    background-color: $primaryBlue;
    color: white;
    margin: 25px 45%;
}

.form-check {
    margin-bottom: 3px;
}

.number {
    width: 60px;
}

.label {
    margin: 0 0 -1px 4px ;
}

.col-md-12 {
    padding: 0 30px !important;
}
.col-sm-4 {
    padding-right: 30px;
}

.col-sm-4.password {
    padding-right: 15px;
}