@import './../../../../theme/variables.scss';

form {
  padding-top: 50px;
}
label {
  text-align: end;
}
legend {
  text-align: end;
}
.buttons {
  text-align: end;
  padding: 30px 60px;
  border-top: 1px solid #dae0e5;
  margin-top: 130px;
}
.btn {
  margin-right: 10px;
}
.btn-success {
  background: $primaryBlue;
}
.btn-secondary {
  background: white;
  border: 1px solid $primaryBlue;
  color: $primaryBlue;
}
