<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Ajouter un utilisateur
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal"
                routerLink="/event/acces-code">
                <img src="./assets/icons/back.svg"> Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form [formGroup]="form">
                        <div *ngIf="createResult" class="alert alert-{{createResult.status}}">
                            {{createResult.message}}
                        </div>
                        <div class="form-group row">
                            <label for="username" class="col-sm-4 col-form-label col-form-label-sm">Nom
                                d'utilisateur</label>
                            <div class="col-sm-8">
                                <input type="text" formControlName="username" class="form-control form-control-sm"
                                    id="username" placeholder="Nom d'utilisateur">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-sm-4 col-form-label col-form-label-sm">Mot de passe</label>
                            <div class="col-sm-8">
                                <input type="password" formControlName="password" class="form-control form-control-sm"
                                    id="password">
                            </div>
                        </div>
                        <div class="row">
                            <legend class="col-form-label col-sm-4 pt-0">Rôle</legend>
                            <div class="col-sm-8">
                                <div class="form-check">
                                    <input class="form-check-input" formControlName="role" type="radio" id="admin"
                                        value="ADMIN" checked>
                                    <label class="form-check-label" for="admin">
                                        Administrateur
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" formControlName="role" type="radio" id="editor"
                                        value="EDITOR">
                                    <label class="form-check-label" for="editor">
                                        Editeur
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" formControlName="role" type="radio" id="manager"
                                        value="PARTICIPANTS_MANAGER">
                                    <label class="form-check-label" for="manager">
                                        Gestionnaires des Participants
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" formControlName="role" type="radio" id="observer"
                                        value="OBSERVER">
                                    <label class="form-check-label" for="observer">
                                        Observateur
                                    </label>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="buttons">
                <button class="btn btn-secondary" type="reset">Annuler</button>
                <button class="btn btn-success" (click)="submit()" [disabled]="!form.valid">Ajouter cet
                    utilisateur</button>
            </div>
        </div>
    </div>
</div>
