@import './../../../../theme/variables.scss';

.checkbox {
    display: flex
}
.form-check {
    position: relative;
    width: 48px;
    height: 23px;
    font-size: 15px;
    text-align: center;
    margin: 0 3px;
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
}

.form-check input {
    position: absolute;
    height: 0px;
    width: 0px;
}

label.checkmark {
    width: 46px;
    margin-bottom: 0;
    cursor: pointer;
}

.form-check input:checked ~ .checkmark {
    background: $primaryBlue;
    color: #ffffff;
}

.form-control {
    height: 25px;
    font-size: 13px;
    border: 1px solid #C4C4C4;
}
.form-control::placeholder {
    color: #C4C4C4;
}

.select {
    display: flex;
}
.select .form-control, select.form-control  {
    color: #C4C4C4;
    padding: 0 7px;
    margin-bottom: 10px;
}
.select .form-control:first-child {
    margin-right: 10px;
}

.table-responsive {
    padding: 0 15px;
}

.form-check-inline .form-control:last-child {
    margin-left: 15px;
}

textarea {
    height: 80px;
}
