<form [formGroup]="form">
    <div class="form-group row">
        <label class="col-sm-6" for="type">Type d'événement</label>
        <div class="col-sm-6">
            <select formControlName="type" id="type" class="form-control">
                <option value="{{eventType.Private}}">Privé</option>
                <option value="{{eventType.Public}}">Public</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6" for="categoryEvent">Dans quelle catégorie se situe votre événement ?</label>
        <div class="col-sm-6">
            <select formControlName="category" id="categoryEvent" class="form-control">
                <option *ngFor="let category of categories?.records" value="{{category._id}}">{{category.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="nom" class="col-sm-6">Nom de l'événement: </label>
        <div class="col-sm-6">
            <input formControlName="name" type="text" class="form-control" id="nom">
        </div>
    </div>
    <div class="form-group row">
        <label for="desciption" class="col-sm-6">Description de votre événement: </label>
        <div class="col-sm-6">
            <textarea formControlName="description" style="height: 80px;" class="form-control"
                id="description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="phrase" class="col-sm-6">Phrase accrocheuse : </label>
        <div class="col-sm-6">
            <input formControlName="catchyPhrase" type="text" class="form-control" id="phrase">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6">Date de début :</label>
        <div class="col-sm-6">
            <div class="select">
                <input formControlName="startDate" type="date" class="form-control" id="date" />
                <input type="time" class="form-control" formControlName="startTime" id="time" value="20:00" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6">Date de fin : </label>
        <div class="col-sm-6">
            <div class="select">
                <input formControlName="endDate" type="date" class="form-control" id="date" />
                <input type="time" class="form-control" formControlName="endTime" id="time" value="20:00" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6" for="address">Adresse de l'événement</label>
        <div class="col-sm-6">
            <select formControlName="address" id="address" class="form-control">
                <option value="Dakar">Dakar</option>
                <option value="Almadie">Almadie</option>
                <option value="Plateau">Plateau</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="lieu" class="col-sm-6">Précision sur le lieu : </label>
        <div class="col-sm-6">
            <input formControlName="locationAccuracy" type="text" class="form-control" id="lieu">
        </div>
    </div>
    <div class="form-group row">
        <label for="personne" class="col-sm-6">Nombre de personne prévue : </label>
        <div class="col-sm-6">
            <input formControlName="expectedNumberOfPersons" type="number" class="form-control" id="personne" min="1">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6" for="accessType">A quel type d'accès vos participants auront-ils droit ?</label>
        <div class="col-sm-6">
            <select formControlName="accessType" id="accessType" class="form-control">
                <option value="{{accessType.Uniq}}">Accès {{accessType.Uniq}}</option>
                <option value="{{accessType.Free}}">Accès {{accessType.Free}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-6" for="categorie">Voulez vous rester en contact avec vos participants pour repondre à leur
            préocupation?
        </label>
        <div class="col-sm-6">
            <select formControlName="keepContactWithParticipant" id="categorie" class="form-control">
                <option [value]="true">Oui</option>
                <option [value]="false">Non</option>
            </select>
        </div>
    </div>
</form>
