@import './../../../../theme/variables.scss';

.search-block {
    margin-top: 25px;
}
.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}

h4 {
    margin: 15px 10px 0;
}
h4 {
    margin: 15px 0 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4, .col-sm-6{
    text-align: center;
    margin-top: auto;
}
.dropdown-menu {
    padding-top: 7px;
    height: auto;
}
