<div class="search-block row">
    <div class="col-sm-8">
        <input class='form-control' placeholder="Rechercher par d'activation, n° de carte, n° utilisateur, date de validité">
    </div>
    <div class="col-sm-4">
        <select class="form-control" id="">
            <option value="">SMS externe</option>
            <option value="">SMS push</option>
            <option value="">E-mailing</option>
            <option value="">Option Tout</option>
        </select>
    </div>
    <div class="col-sm-8">
        <h4>Période</h4>
        <div class="row">
            <div class="col-sm-6">
                <label for="">Du</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
            <div class="col-sm-6">
                <label for="">Au</label>
                <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                       min="2020-06-15">
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-block">Rechercher</button>
    </div>
</div>

<div class=" table-responsive">
    <table class="col-sm-12 table table-bordered">
        <thead>
        <tr>
            <th>Date de programmation</th>
            <th>N° de la campagne</th>
            <th>N° de compte organisateur</th>
            <th>Type de communication</th>
            <th>Période de lancement</th>
            <th>Nombre de personne</th>
            <th>Coût unitaire</th>
            <th>Montant</th>
            <th>Statut</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                              <span class="dropdown">
                                Action <img src="./assets/icons/shape.svg">
                              </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                              <span class="dropdown">
                                Action <img src="./assets/icons/shape.svg">
                              </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="dropdown">
                <button class="action" data-toggle="dropdown">
                              <span class="dropdown">
                                Action <img src="./assets/icons/shape.svg">
                              </span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="/event" routerLinkActive='active'>Voir</a>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
