@import '../../../../theme/variables.scss';

.nav-side-menu {
  overflow: auto;
  background-color: $primaryColor;
  position: fixed;
  top: 0px;
  width: calc(21% - 10px);
	height: 100%;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
  line-height: 16px;
  color: $secondaryColor;
}
.nav-side-menu .brand {
  display: block;
  text-align: center;
}
.nav-side-menu .brand img {
    width: 167px;
    height: 118px;
}
.nav-side-menu .brand img, .nav-side-menu .brand .fa-bars {
    vertical-align: middle;
}
.nav-side-menu .brand .fa-bars {
    display: none;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  /*font-family: FontAwesome;*/
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  color: #FFFFFF;
  background-color: $primaryBlue;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active span,
.nav-side-menu li .sub-menu li.active span {
  color: #FFFFFF;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  /*background-color: #181c20;*/
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #FFFFFF;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: $primaryBlue;
}

.sub-menu-finance.show {
  background: #FFFFFF;
}

.sub-menu-finance li, .sub-menu-finance2 li {
  border-bottom: 1px solid #0C2461 !important;
}
.sub-menu-finance li:last-child, .sub-menu-finance li:last-child {
  border-bottom: 1px solid #FFFFFF !important;
}
/*.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/
.nav-side-menu li {
  padding-left: 0px;
  /*border-left: 3px solid #2e353d;*/
  border-bottom: 1px solid #FFFFFF;
}

.nav-side-menu ul.sub-menu-finance2 {
  padding-left: 30px;
}
.nav-side-menu li span .icon {
  display: inline-block;
  width: 17px;
	margin-left: 27px;
  margin-right: 13px;
}

.icon-sous-menu {
  display: inline-block;
  width: 17px;
  margin-left: 50px;
  margin-right: 13px;
}

.icon-card {
  margin-left: calc(100% - 132px);
}
.icon-event {
  margin-left: calc(100% - 166px);
}
.icon-finance {
  margin-left: calc(100% - 139px);
}
.icon-promote-event {
    margin-left: calc(100% - 237px);
}
.icon-communication {
    margin-left: calc(100% - 189px);
}

#communication {
    font-size: 13px;
}
.nav-side-menu li:hover {
  /*border-left: 3px solid $primaryYellow;*/
  color: #FFFFFF;
  background-color: $primaryBlue;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 870px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 870px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

	.nav-side-menu .brand .fa-bars {
		display: inline-block;
		margin-top: 15px;
		font-size: 2.2em;
  }
  .header-menu-item {
    display: none;
  }

}
body {
  margin: 0px;
  padding: 0px;
}
