<div class="nav-side-menu">
    <div class="brand">
        <img src="./assets/img/logo-clavem.svg">
        <span class="fa fa-bars"></span>
    </div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#new" class="collapsed header-menu-item">
                <span>
                    <img class="icon" src="./assets/icons/pp.svg"> Admin <img class="icon"
                        src="./assets/icons/shape.svg">
                </span>
            </li>
            <ul class="sub-menu collapse header-menu-item" id="new">
                <li>Voir</li>
                <li>Paramètres</li>
                <li routerLink='/auth/login'>Déconnexion</li>
            </ul>

            <li class="header-menu-item">
                <span>
                    <img class="icon" src="./assets/icons/email.svg"> Courier
                </span>
            </li>

            <li routerLink="/dashboard" routerLinkActive="active">
                <span>
                    <img class="icon" src="./assets/icons/dash.svg"> Tableau de bord
                </span>
            </li>

            <li [routerLink]="['/users']" routerLinkActive="active" *ngIf="userRole === 'ADMIN'">
                <span>
                    <img class="icon" src="./assets/icons/users.svg"> Utilisateurs
                </span>
            </li>

            <li class="collapsed" data-toggle="collapse" data-target="#card" *ngIf="userRole === 'ADMIN'">
                <span>
                    <img class="icon" src="./assets/icons/card.svg"> Cartes
                    <img src="./assets/icons/shape.svg" alt="" class="icon-card">
                </span>
            </li>
            <ul class="sub-menu-finance collapse" id="card">
                <li routerLink="/card/list-card" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/dash.svg">Liste des cartes
                    </span>
                </li>
                <li routerLink="/card/list-command" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/business.svg">Liste des commandes
                    </span>
                </li>
            </ul>
            <li routerLink="/organizer" routerLinkActive="active" *ngIf="userRole === 'ADMIN'">
                <span>
                    <img class="icon" src="./assets/icons/users.svg"> Organisateurs
                </span>
            </li>

            <li class="collopsed" data-toggle="collapse" data-target="#event">
                <span>
                    <img class="icon" src="./assets/icons/users.svg"> Evènements
                    <img src="./assets/icons/shape.svg" alt="" class="icon-event">
                </span>
            </li>
            <ul class="collapse sub-menu-finance" id="event">
                <li routerLink="/category" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/finance.svg">
                        <span *ngIf="userRole === 'ADMIN'">Evénements Publics</span>
                        <span *ngIf="userRole === 'ORGANIZER'">Mes événements</span>
                    </span>
                </li>
                <li *ngIf="userRole === 'ORGANIZER'" routerLink="/promotional-code" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/business.svg">Codes promotionnels
                    </span>
                </li>
                <li routerLink="/event/acces-code" routerLinkActive="active" *ngIf="userRole === 'ORGANIZER'">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/users.svg">Gestion des accès
                    </span>
                </li>
            </ul>

            <li data-toggle="collapse" data-target="#finance" class="collapsed">
                <span>
                    <img class="icon" src="./assets/icons/finance.svg"> Finance
                    <img src="./assets/icons/shape.svg" alt="" class="icon-finance">
                </span>
            </li>
            <ul class="sub-menu-finance collapse" id="finance">
                <li routerLink="/finance/dashboard" routerLinkActive="active" *ngIf="userRole === 'ADMIN'">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/dash.svg" alt="">Tableau de bord
                    </span>
                </li>
                <li routerLink="/finance/recipes" routerLinkActive="active" *ngIf="userRole === 'ORGANIZER'">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/card.svg" alt="">Recettes
                    </span>
                </li>
                <li routerLink="/finance/invoices" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/business.svg">Factures
                    </span>
                </li>
                <li routerLink="/finance/reclamations" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/communications.svg">Réclamatiions
                    </span>
                </li>
            </ul>
            <li routerLink="/communication/promote-event" routerLinkActive="active" *ngIf="userRole === 'ORGANIZER'">
                <span>
                    <img class="icon" src="./assets/icons/finance.svg">
                    Promotion d'événement
                </span>
            </li>
            <li data-toggle="collapse" data-target="#communication" class="collapsed" *ngIf="userRole === 'ADMIN'">
                <span>
                    <img class="icon" src="./assets/icons/users.svg">
                    Communication
                    <img src="./assets/icons/shape.svg" alt="" class="icon-communication">
                </span>
            </li>
            <ul class="sub-menu-finance collapse" id="communication"  *ngIf="userRole === 'ADMIN'">
                <li routerLink="/communication/advertising-wall" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/dash.svg" alt="">
                        Gestion du mur publicitaire
                    </span>
                </li>
                <li routerLink="/communication/campaign-management" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/communications.svg">
                        Gestion des campagnes
                    </span>
                </li>
                <li routerLink="/communication/news-feed" routerLinkActive="active">
                    <span>
                        <img class="icon-sous-menu" src="./assets/icons/business.svg">
                        Gestion du fil d'actualité
                    </span>
                </li>
            </ul>
        </ul>
    </div>
</div>
