<app-template></app-template>
<div class="page-container row">

    <div class="panel">
        <div class="panel-title">
            Intra Plateforme
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal">
                <img src="./assets/icons/add.svg"> Ajouter
            </span>
        </div>
        <div class="panel-body">
            <div class="topbar">
                <div [ngClass]="{'item': true, 'active': adversting}" (click)="toggleAdversiting()">
                    Gestion du mur publicitaire
                </div>
                <div [ngClass]="{'item': true, 'active': campaign}" (click)="toggleCampaign()">
                    Gestion des campagnes
                </div>
                <div [ngClass]="{'item': true, 'active': newsFeed}" (click)="toggleNewsFeed()">
                    Gestion du fil d'actualité
                </div>
            </div>

            <div class="content_body">
                <ng-container *ngIf="adversting">
                    <app-advertising-wall></app-advertising-wall>
                </ng-container>
                <ng-container *ngIf="campaign">
                    <app-campaign-management></app-campaign-management>
                </ng-container>
                <ng-container *ngIf="newsFeed">
                    <app-news-feed-management></app-news-feed-management>
                </ng-container>
            </div>
        </div>
    </div>
</div>

