@import "./../../../theme/variables";
.panel-body {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 13px;
}

.topbar {
    display: flex;
    margin: 10px 80px;
    justify-content: space-between;
}

.item {
    padding: 4px 8px;
    font-size: 15px;
    line-height: 18px;
    margin: 0 5px;
    color: #C4C4C4;
    cursor: pointer;
    transition: color 0.3s;
}

.item.active {
    color: $primaryBlue;
    font-weight: bold;
    border-bottom: 1px solid $primaryBlue;
}
.item:hover {
    color: $primaryBlue;
}


