<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Ajouter un événement
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal" routerLink="/event">
                <img src="./assets/icons/back.svg"> Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="topbar">
                <div class="item" (click)="toggleForm1()">
                    Donnée de Base
                </div>
                <div [ngClass]="{'item': true, 'active': form2}" (click)="toggleForm2()">
                    Espace billeterie
                </div>
                <div [ngClass]="{'item': true, 'active': form3}" (click)="toggleForm3()">
                    Espace Réservation
                </div>
                <div [ngClass]="{'item': true, 'active': form4}" (click)="toggleForm4()">
                    Contenu Multimédia
                </div>
            </div>

            <div class="content_body">
                <div class="bubble_indication">
                    <div [ngClass]="{'number': true, 'active': form1}">
                        <span *ngIf="!form1">1</span>
                        <img src="./assets/icons/validate.svg" *ngIf="form1">
                    </div>
                    <div [ngClass]="{'bar': true, 'active': form1}"></div>
                    <div [ngClass]="{'number': true, 'active': form2}">
                        <span *ngIf="!form2">2</span>
                        <img src="./assets/icons/validate.svg" *ngIf="form2">
                    </div>
                    <div [ngClass]="{'bar': true, 'active': form2}"></div>
                    <div [ngClass]="{'number': true, 'active': form3}">
                        <span *ngIf="!form3">3</span>
                        <img src="./assets/icons/validate.svg" *ngIf="form3">
                    </div>
                    <div [ngClass]="{'bar': true, 'active': form3}"></div>

                    <div [ngClass]="{'number': true, 'active': form4}">
                        <span *ngIf="!form4">4</span>
                        <img src="./assets/icons/validate.svg" *ngIf="form4">
                    </div>
                </div>
                <form>
                    <ng-container *ngIf="submitEventResult">
                        <div class="col-sm-12 alert alert-{{submitEventResult?.status}}">{{submitEventResult?.message}}
                        </div>
                    </ng-container>
                    <ng-container *ngIf="form1">
                        <app-event-form1 (formEmitter)="generalFormChanges($event)" [formValue]="generalFormValue">
                        </app-event-form1>
                    </ng-container>
                    <ng-container *ngIf="form2">
                        <app-event-form2 (formEmitter)="ticketFormChanges($event)" [formValue]="ticketFormValue">
                        </app-event-form2>
                    </ng-container>
                    <ng-container *ngIf="form3">
                        <app-event-form3 (formEmitter)="reservationFormChanges($event)"
                            [formValue]="reservationFormValue"></app-event-form3>
                    </ng-container>
                    <ng-container *ngIf="form4">
                        <app-event-form4 (formEmitter)="eventMultimediaFormChanges($event)"
                            [formValue]="eventMultimediaFormValue"></app-event-form4>
                    </ng-container>
                </form>
            </div>
            <div class="btn-center" *ngIf="form4">
                <button class="btn btn-valider" (click)="submitEvent()">Valider</button>
            </div>
            <div class="footer">
                <div class="progress_info">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': widthProgress}"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="reste">
                        {{progress}} restants
                    </div>
                </div>
                <div class="paging">
                    <button class='paging-direction' (click)="previous()" *ngIf="!form1">
                        <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                    </button>
                    <button (click)="next()" class="paging-direction next" *ngIf="!form4">
                        <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
