@import './../../../theme/variables.scss';

.topbar {
    display: flex;
    margin: 10px 80px;
    justify-content: space-between;
}

.item {
    padding: 4px 8px;
    font-size: 15px;
    line-height: 18px;
    margin: 0 5px;
    color: #C4C4C4;
    cursor: pointer;
    transition: color 0.3s;
}
.item:first-child {
    background: #388E3C;
    color: #ffffff;
}
.item.active {
    color: $primaryBlue;
    border-bottom: 1px solid $primaryBlue;
}
.item:hover {
    color: $primaryBlue;
}
.item:first-child:hover {
    background: #388E3C;
    color: #ffffff;
    font-weight: bold;
}

.next {
    background: $primaryBlue;
    color: #ffffff;
}

.content_body {
    position: relative;
    margin: 30px 80px 0;
    padding: 20px;
    min-height: 400px;
}

.bubble_indication {
    position: absolute;
    top: 5px;
    left: -60px;
}
.number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    width: 30px;
    height: 30px;
    border: 1px solid #C4C4C4;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.number.active {
    background: #388E3C;
    border: 2px solid #388E3C;
    color: #ffffff;
}
.bar {
    width: 0;
    height: 100px;
    margin: 0 13px;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bar.active {
    border: 1px solid #388E3C;
}

.footer {
    margin: 30px 80px;
}

.progress_info {
    display: flex;
    margin-bottom: -22px;
    margin-top: 20px;
}

.progress {
    width: 20%;
    height: 7px;
    margin-right: 10px;
    margin-top: 5px;
    background: #c4c4c4;
}
.progress-bar {
    background: $primaryBlue;
}
.reste {
    font-size: 12px;
}

.btn-center{
  text-align: center;
  margin-top: 30px;
}

.btn-valider {
  background: $primaryBlue;
  color: #ffffff;
}
