/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import './theme/variables.scss';

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.dropdown-menu {
    width: 240px;
    height: 172px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 25px;
}


.dropdown-item {
    font-size: 18px;
    line-height: 33.3px;
    display: flex;
    align-items: center;
    letter-spacing: 0.81px;
    color: #0C2461;
    padding-right: 20,7px;
    margin-left: 14px;
}

.dropdown-item:hover {
    width: 208px;
    height: 37px;
    color: #FFFFFF;
    background: #8A8A8A;
}

.page-container {
    margin-left: 20%;
    padding: 2%;
    padding-top: 1%;
    width: 80%;
}

.panel {
    width: 100%;
    padding-left: 0px;
}

.panel-title {
   width: 100%;
   background-color: $primaryBlue;
   color: #FFFFFF;
   height: 48px;
   font-size: 18px;
   line-height: 21px;
   padding-top: 13px;
   padding-left: 18px;
   margin-left: 0%;
   padding-right: 18px;
}

.panel-action {
    float: right;
    font-size: 12px;
    line-height: 14px;
    padding-right: 9px;
    cursor: pointer;
}

.panel-action img {
    margin-right: 9px;
}

.panel-body {
    border: 1px solid $primaryBlue;
    padding: 0.5%;
}

.panel-body table {
    margin-top: 13px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    text-align: center;
}

.panel-body table thead {
    background: #F3F3F3;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #0D1929;
}

.panel-body table tbody td {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    vertical-align: middle;
}

.panel-body table tbody .status {
    font-weight: 900;
}

.panel-body table tbody .active-status {
    color: #388E3C;
}

.panel-body table tbody .locked-status {
    color: #FF473A;
}

.panel-body table tbody .action {
    width: 86.91px;
    height: 28px;
    background: #FFC312;
    border: none;
    color: #0C2461;
}

.panel-body table tbody .action img {
    margin-left: 9px;
}

.panel-body table tbody .dropdown-item {
    color: #0C2461;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.81px;
}

.panel-body table tbody .dropdown-item:hover {
    color: #FFFFFF;
}

.panel-body table tbody .lock {
    color: #FF473A;
}

.panel-body table tbody .unlock {
    color: #388E3C;
}

.search-block {
    margin-top: 13px;
}

.search-block .form-control {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    height: 43px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #8A8A8A;
    padding-left: 25px;
    font-style: italic;
}

.search-block button {
    height: 44px;
    border: 2px solid $primaryBlue;
    box-sizing: border-box;
    border-radius: 15px;
}

.paging {
    text-align: right;
}

.paging button{
    display: inline-block;
    background-color: #FFFFFF;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    color: #0C2461;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

.paging .paging-direction img, .paging .paging-direction span {
    vertical-align: middle;
}

.paging .page-number {
    width: 27px;
}

.paging .selected-page {
    background: $primaryBlue;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    color: white;
}

.paging .shape-left {
    margin-right: 8px;
}

.paging .shape-right {
    margin-left: 8px;
}

.activity {
    width: 32%;
    display: inline-block;
    margin-right: 1%;
    padding-bottom: 1%;
}

.activity-poster {
    width: 44%;
    height: 130px;
}

.activity-poster, .activity-details {
    display: inline-block;
    vertical-align: top;
}

.activity-details {
    margin-left: 24.84px;
    width: 48%;
}

.activity-title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
}

.activity-address {
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8E8E8E;
    text-align: left;
    margin-bottom: 3px;
}

.activity-resume {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    width: 85%;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;
}

.activity-more {
    font-size: 14px;
    line-height: 17px;
    color: $primaryBlue;
    margin-top: 6px;
    cursor: pointer;
}

.page-items {
    margin-top: 29px;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.panel-action-text {
    margin-right: 20px;
}

.back {
    margin-left: 10px;
}

@media (max-width: 1500px) {
    .activity {
        width: 48%;
    }
}



@media (max-width: 750px) {
    .activity{
        width: 98%;
    }
}

@media (max-width: 870px) {
    .page-container {
        margin-left: 0%;
        padding: 1%;
    }
}
