<form>
    <div class="form-group row">
        <label for="poster" class="col-sm-6">Insérez une image ou une vidéo officielle qui apparaîtra sur l'applicaton
            mobile CLAVEM</label>
        <div class="col-sm-6">
            <input type="file" class="form-control-file" (change)="onPosterChange($event)" id="poster" name="poster" accept="image/x-png,image/gif,image/jpeg">
        </div>
    </div>
    <div class="form-group row">
        <label for="archives" class="col-sm-6">Insérez des archives ou d'autres images de votre événement</label>
        <div class="col-sm-6">
            <input type="file" class="form-control-file" (change)="onArchivesChange($event)" name="archives" id="archives" multiple>
        </div>
    </div>

</form>
