@import "./../../../../theme/variables";

.form-group {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.btn-center{
  text-align: center;
  margin-top: 30px;
}

.btn-valider {
  background: $primaryBlue;
  color: #ffffff;
}
