@import './../../../../theme/variables.scss';

.search-block {
    margin-top: 25px;
}
.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}
h4 {
    margin: 15px 0 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4, .col-sm-6{
    text-align: center;
    margin-top: auto;
}
.dropdown-menu {
    padding-top: 7px;
    height: auto;
}

.modal-dialog {
    max-width: 60%;
}

.icon-header {
    width: 14px;
    height: 16px;
    margin: 3px 5px 0;
    transform: rotate(-12deg);
}
i {
    font-size: 16px;
    color: $primaryYellow;
    margin: 0 5px;
}

.promote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .choice {
        width: 420px;
        display: flex;
        justify-content: space-between;
        .createEventImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
            p {
                padding-top: 10px;
            }
        }
        .createEvent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
            p {
                padding-top: 10px;
            }
        }
    }
}
