<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Gestion des campagnes<i>Type de campagne</i> <img src="./assets/icons/down-arrow.svg" class="icon-header">
            <span class="float-right panel-action">
                <img src="./assets/icons/download.svg"> Télécharger
            </span>
        </div>
        <div class="panel-body">
            <div class="promote">
                <h4>Voulez-vous promouvoir un événement ?</h4>
                <div class="choice">
                    <div class="createEventImg panel-action" data-toggle="modal" data-target="#exampleModal" (click)="onAddImage()">
                        <img src="./assets/icons/email-img.svg" alt="">
                        <p>Créer un texte avec image</p>
                    </div>
                    <div class="createEvent panel-action" data-toggle="modal" data-target="#exampleModal" (click)="onRemoveImage()">
                        <img src="./assets/icons/comment.svg" alt="">
                        <p>Créer texte simple</p>
                    </div>
                </div>
            </div>
            <form>
                <div class="search-block row">
                    <div class="form-group col-sm-4">
                        <button class="btn btn-block">Rechercher</button>
                    </div>
                    <div class="form-group col-sm-4 offset-4">
                        <select class="form-control">
                            <option value="">Type de campagne</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>N° de la réclamation</th>
                        <th>N° de la carte conservée</th>
                        <th>N° de la facture</th>
                        <th>Evénement conserné</th>
                        <th>Montant de la facture</th>
                        <th>Montant de réclamation</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>12/04/2020</td>
                        <td>456789</td>
                        <td>876543</td>
                        <td>6545678</td>
                        <td>Evénement 1</td>
                        <td>200890</td>
                        <td>2000000</td>
                        <td class="status active-status">Actif</td>
                        <td class="dropdown">
                            <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                          Action <img src="./assets/icons/shape.svg">
                                        </span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" >Détail</a>
                                <a class="dropdown-item" >Supprimer</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Modifier</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>12/04/2020</td>
                        <td>456789</td>
                        <td>876543</td>
                        <td>6545678</td>
                        <td>Evénement 1</td>
                        <td>200890</td>
                        <td>2000000</td>
                        <td class="status locked-status">Actif</td>
                        <td class="dropdown">
                            <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                          Action <img src="./assets/icons/shape.svg">
                                        </span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" >Détail</a>
                                <a class="dropdown-item" >Supprimer</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Modifier</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>12/04/2020</td>
                        <td>456789</td>
                        <td>876543</td>
                        <td>6545678</td>
                        <td>Evénement 2</td>
                        <td>200890</td>
                        <td>2000000</td>
                        <td class="status active-status">Actif</td>
                        <td class="dropdown">
                            <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                          Action <img src="./assets/icons/shape.svg">
                                        </span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" >Détail</a>
                                <a class="dropdown-item" >Supprimer</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Modifier</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>12/04/2020</td>
                        <td>456789</td>
                        <td>876543</td>
                        <td>6545678</td>
                        <td>Evénement 1</td>
                        <td>200890</td>
                        <td>2000000</td>
                        <td class="status locked-status">Actif</td>
                        <td class="dropdown">
                            <button class="action" data-toggle="dropdown">
                                        <span class="dropdown">
                                          Action <img src="./assets/icons/shape.svg">
                                        </span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" >Détail</a>
                                <a class="dropdown-item" >Supprimer</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Modifier</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add-campaign [image]="image"></app-add-campaign>
    </div>
</div>
