<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des accès
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal" routerLink="create">
                <img src="./assets/icons/add.svg"> Ajouter un code d'accés
            </span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Fonction</th>
                            <th>Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let accessCode of accessCodes">
                            <td>
                                {{accessCode.username}}
                            </td>
                            <td>{{accessCode.role}}</td>
                            <td>
                                {{accessCode.password}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="!accessCodes || !accessCodes.length" class="col-sm-12 alert alert-info text-center">
                    Aucun code disponible!
                </div>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>
