<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des tickets
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal"
                *ngIf="userRole === 'ORGANIZER'">
                <img src="./assets/icons/add.svg">Créer un billet
            </span>
            <span class="float-right panel-action" routerLink="/event">
                <img src="./assets/icons/back.svg">Retour
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-10">
                    <input class='form-control' [(ngModel)]="search" placeholder="Rechercher par nom">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class=" table-responsive">

                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Catégorie</th>
                            <th>Critère de catégorisation</th>
                            <th>Quantité</th>
                            <th>Prix renseigné</th>
                            <th>Prix affiché</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let ticket of event?.tickets|filter:search">
                            <td>{{ticket.name}}</td>
                            <td>{{ticket.categoryCriteria}}</td>
                            <td>{{ticket.quantity}}</td>
                            <td>{{ticket.price}}</td>
                            <td>{{ticket.price}}</td>
                            <td><button class="btn btn-danger" (click)="removeTicket(ticket._id)">Supprimer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ng-container *ngIf="!event?.tickets?.length">
                    <div class="alert alert-info col-sm-12 text-center">
                        <h3>Cet événement ne contient pas de tickets!</h3>
                    </div>
                </ng-container>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-ticketing-form [eventId]="eventId" (formEmitter)="eventChanged($event)"></app-ticketing-form>
    </div>
</div>
