@import './../../../theme/variables.scss';

.search-block {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-control {
    height: 31px;
}
.col-sm-4 {
    margin-top: auto;

}
.btn-block {
    height: 36px;
}

.dropdown-menu {
    padding-top: 7px;
    height: auto;
}

.icon-header {
    width: 14px;
    height: 16px;
    margin: 3px 5px 0;
    transform: rotate(-12deg);
}

.promote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .choice {
        width: 420px;
        display: flex;
        justify-content: space-between;
        .createEventImg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
            p {
                padding-top: 10px;
            }
        }
        .createEvent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 40px;
            }
            p {
                padding-top: 10px;
            }
        }
    }
}

.modal-dialog {
    max-width: 60%;
}
