<div *ngIf="userRole === 'ORGANIZER'">
    <div class="page-container row">
        <div class="overview-component overview-blue-component ">
            <div class='number'>0</div>
            <div class="title" title="Total recette">TOTAL RECETTE</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>0</div>
            <div class="title" title="Votre solde avec clavem">Votre solde avec clavem</div>
        </div>
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title" title="Nombre d'événement en cours">Evénement en cours</div>
        </div>
        <div class="overview-component overview-red-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de tickets vendus">Tickets vendus</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>0</div>
            <div class="title" title="Recettes actuelles">Recettes actuelles</div>
        </div>
        <div class="overview-component overview-marine-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de compagne lancé">Compagne lancé </div>
        </div>
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title" title="Type ticket en vente">Type ticket en vente</div>
        </div>
        <div class="overview-component overview-red-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de réclamations non traité">Réclamations non traité</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de personnes intéressés par l'événement le plus proche">Personnes
                intéressés par l'événement le plus proche</div>
        </div>
    </div>

    <div class="events">
        <button class="btn-event" routerLink="/event/new-event">Créer un événement</button>
        <button class="btn-event">Promouvoir votre événement</button>
    </div>
</div>

<div *ngIf="userRole === 'ADMIN'">
    <div class="page-container row">
        <div class="overview-component overview-blue-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre des utilisateurs">Utilisateurs</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre des organisateurs">Organisateurs</div>
        </div>
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title" title="Nombre d'événement en attente">Evénement en attente</div>
        </div>
        <div class="overview-component overview-red-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre d'événement sur la plateforme">Evénement sur la plateforme</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre d'événement Entrée payante">Evénement Entrée payante</div>
        </div>
        <div class="overview-component overview-marine-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre d'événement TOTAL">Evénement TOTAL</div>
        </div>
        <div class="overview-component overview-yellow-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de commande de carte non traité">Commande de carte non traité</div>
        </div>
        <div class="overview-component overview-green-component">
            <div class='number'>0</div>
            <div class="title" title="Nombre de cartes actives">Cartes actives</div>
        </div>
        <div class="overview-component overview-red-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de réclamations non traité">Réclamations non traité</div>
        </div>
        <div class="overview-component overview-gray-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de campagne programmé">Campagne programmé</div>
        </div>
        <div class="overview-component overview-marine-component ">
            <div class='number'>0</div>
            <div class="title" title="Nombre de Commande matériel non traité">Commande matériel non traité</div>
        </div>
    </div>
</div>
