@import './../../../theme/variables.scss';

.overview-component {
    width: 208px;
    height: 114px;
    border-radius: 10px;
    width: 19%;
    margin: 0 1% 1% 0;
    padding: 1.6% 1.1% 1.6% 1.1%;
    color: #FFFFFF;
}

.overview-component .number {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
}

.overview-component .title {
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overview-blue-component {
    background: rgba(47, 85, 182, 0.85);
}

.overview-yellow-component {
    background: rgba(252, 172, 18, 0.85);
}

.overview-green-component {
    background: rgba(12, 97, 20, 0.85);
}

.overview-red-component {
    background: rgba(230, 65, 13, 0.85);
}

.overview-gray-component {
    background: #8E8E8E;
}

.overview-marine-component {
    background: #455A64;
}


.events {
  display: flex;
  justify-content: space-between;
  margin-left: 22%;
  margin-right: 2%;
}
.btn-event {
  padding: 0.3em 0.6em;
    border: 1px solid $primaryBlue;
    background: $primaryBlue;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}


@media (max-width: 870px) {
    .overview-component {
        width: 24%;
    }
}

@media (max-width: 650px) {
    .overview-component {
        width: 32%;
    }
}

@media (max-width: 500px) {
    .overview-component {
        width: 47.5%;
    }
    .overview-component {
        padding-top: 2%;
    }
}
