<header>
    <div class="btn-center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Ajouter</button>
    </div>
    <div class="search-block row">
        <div class="col-sm-8">
            <input class='form-control' placeholder="Rechercher par  n° d'ordre, date de création">
        </div>
        <div class="col-sm-4">
            <select class="form-control" id="">
                <option value="">Clavem sn</option>
                <option value="">E1</option>
            </select>
        </div>
        <div class="col-sm-8">
            <h4>Période</h4>
            <div class="row">
                <div class="col-sm-6">
                    <label for="">Du</label>
                    <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                        min="2020-06-15">
                </div>
                <div class="col-sm-6">
                    <label for="">Au</label>
                    <input type="date" class="form-control date" id="" value="2020-06-19" max="2020-06-20"
                        min="2020-06-15">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-block">Rechercher</button>
        </div>
    </div>
</header>
<div class="publication-en-cours">
    <h4>Liste des publications en cours</h4>
    <div class="items">
        <div class="item" *ngFor="let pub of activePubs">
            <div>
                <div class="date">
                    {{pub.startDate | date : 'dd/MM/yyyy hh:mm'}}
                </div>
                <div class="image">
                    <img [src]="generateUrl(pub.attachment)" alt="">
                    <div class="title">
                        {{pub.title}}
                        <div class="button">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                Forfait
            </div>
        </div>
        <div class="bar"></div>

    </div>
</div>
<div class="publication-en-cours">
    <h4>Liste des publications en attente</h4>
    <div class="items">
        <div class="item" *ngFor="let pub of nextPubs">
            <div>
                <div class="date">
                    {{pub.startDate | date : 'dd/MM/yyyy hh:mm'}}
                </div>
                <div class="image">
                    <img [src]="generateUrl(pub.attachment)" alt="">
                    <div class="title">
                        {{pub.title}}
                        <div class="button">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                Forfait
            </div>
        </div>
        <div class="bar"></div>

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <app-add-image-other></app-add-image-other>
    </div>
</div>
