@import './../../../../../theme/variables.scss';
.search-block {
    margin-top: 10px;
}
.form-control {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: center;
}
h4 {
    margin: 15px 0 0;
    text-align: center;
}

label {
    margin: 0 10px 0;
    font-size: 12px;
}
.col-sm-4, .col-sm-6{
    text-align: center;
    margin-top: auto;
}
.dropdown-menu {
    padding-top: 7px;
    height: auto;
}

.banier {
    width: 60%;
    background: $primaryYellow;
    height: 200px;
    margin: 20px auto 10px;
    img {
        width: 100%;
        height: 200px;
    }
}

.btn-center {
    text-align: center;
    .btn-primary {
        border: 2px solid $primaryBlue;
        color: $primaryYellow;
        background: $primaryBlue;
        border-radius: 100%;
        font-weight: bold;
        padding: 2px 10px;
    }
}
.publication-en-cours {
    color: $primaryBlue;
    margin-top: 25px;
    h4 {
        text-align: left;
        font-weight: 600;
        margin: 10px 0;
    }
    .items {
        display: flex;
        color: #000000;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .item {
            position: relative;
            width: 20%;
            margin: 0 15px;
            img {
                width: 100%;
                height: 135px;
            }
            .date {
                text-align: center;
            }
            .title {
                position: relative;
                bottom: 0;
                left: 0;
                background: $primaryYellow;
                color: #000000;
                font-weight: bold;
                font-size: 20px;
                right: 0;
                text-align: center;
                .button {
                    position: absolute;
                    width: 30;
                    width: 30px;
                    right: 5px;
                    bottom: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    border-radius: 50%;
                    background: $primaryBlue;
                    text-align: center;
                    div {
                        width: 4px;
                        height: 4px;
                        margin: 2px;
                        border-radius: 50%;
                        background-color: $primaryYellow
                    }
                }
            }
        }
        .bar {
            width: 4px;
            height: 165px;
            background-color: $primaryBlue;
        }
    }
}

.modal-dialog {
    max-width: 60%;
}