<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Liste des invités
            <span class="float-right panel-action" routerLink="create" *ngIf="userRole === 'ORGANIZER'">
                <img src="./assets/icons/add.svg"> Ajouter un invité
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-10">
                    <input class='form-control' placeholder="Rechercher par nom, prénom, DOB, lieu d'habitation">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class=" table-responsive">
                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>N° Carte</th>
                            <th *ngIf="userRole === 'ADMIN'">Nom</th>
                            <th *ngIf="userRole === 'ADMIN'">Prénom</th>
                            <th *ngIf="userRole === 'ADMIN'">Genre</th>
                            <th *ngIf="userRole === 'ADMIN'">N° Tél</th>
                            <th *ngIf="userRole === 'ADMIN'">Date Naiss</th>
                            <th *ngIf="userRole === 'ADMIN'">Lieu Habitat</th>
                            <th>Statut</th>
                            <th>Type de tickets</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12345678</td>
                            <td *ngIf="userRole === 'ADMIN'">Ndiaye</td>
                            <td *ngIf="userRole === 'ADMIN'">Abdou</td>
                            <td *ngIf="userRole === 'ADMIN'">M</td>
                            <td *ngIf="userRole === 'ADMIN'">78 523 89 28</td>
                            <td *ngIf="userRole === 'ADMIN'">08/12/1993</td>
                            <td *ngIf="userRole === 'ADMIN'">Cité Damel</td>
                            <td class='status active-status'>Actif</td>
                            <td></td>
                            <td class="dropdown">
                                <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/users/detail">Details</a>
                                    <a class="dropdown-item lock" routerLink="/">Bloqué</a>
                                    <a class="dropdown-item" routerLink="/">Historique</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>12345678</td>
                            <td *ngIf="userRole === 'ADMIN'">Ndiaye</td>
                            <td *ngIf="userRole === 'ADMIN'">Abdou</td>
                            <td *ngIf="userRole === 'ADMIN'">M</td>
                            <td *ngIf="userRole === 'ADMIN'">78 523 89 28</td>
                            <td *ngIf="userRole === 'ADMIN'">08/12/1993</td>
                            <td *ngIf="userRole === 'ADMIN'">Cité Damel</td>
                            <td class='status locked-status'>Bloqué</td>
                            <td></td>
                            <td class="dropdown">
                                <button class="action" data-toggle="dropdown">
                                    <span class="dropdown">
                                        Action <img src="./assets/icons/shape.svg">
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="/">Details</a>
                                    <a class="dropdown-item lock" routerLink="/">Bloqué</a>
                                    <a class="dropdown-item" routerLink="/">Historique</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>

