@import './../../../theme/variables.scss';

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  border-top: 1px solid #dae0e5;
  margin-top: 100px;
}
.btn {
  margin-right: 10px;
}
.btn-secondary {
  background: white;
  border: 1px solid $primaryBlue;
  color: $primaryBlue;
}
