<app-template></app-template>
<div class="page-container row">
    <div class="panel">
        <div class="panel-title">
            Admins
            <span class="float-right panel-action" data-toggle="modal" data-target="#exampleModal"
                routerLink="/admins/new-admin">
                <img src="./assets/icons/add.svg"> Ajouter un profil admin
            </span>
        </div>
        <div class="panel-body">
            <div class="search-block row">
                <div class="col-sm-10">
                    <input class='form-control' placeholder="Rechercher par nom">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-block">Rechercher</button>
                </div>
            </div>
            <div class=" table-responsive">

                <table class="col-sm-12 table table-bordered">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Mail</th>
                            <th>Mot de passe</th>
                            <th>Rôle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let admin of admins">
                            <td>
                                <img alt="" [src]="generateUrl(admin?.avatar?.sm)" width="50" height="50"
                                    *ngIf="admin?.avatar && admin?.avatar?.sm">
                                <img src="./assets/img/default-user.png" alt="" width="50" height="50"
                                    *ngIf="!admin?.avatar || !admin?.avatar?.sm">
                                {{admin.lastName}}
                            </td>
                            <td>{{admin.firstName}}</td>
                            <td>{{admin.email}}</td>
                            <td>{{admin.password}}</td>
                            <td>{{admin.internalRole}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="paging">
                <button class='paging-direction'>
                    <img src="./assets/icons/shape-left.svg" class="shape-left"> <span>Précédent</span>
                </button>
                <button class="page-number selected-page">1</button>
                <button class="page-number">2</button>
                <button class="paging-direction">
                    <span>Suivante</span> <img src="./assets/icons/shape-right.svg" class="shape-right">
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <app-new-category></app-new-category>
    </div>
  </div> -->
